/* LEGACY FONTS */
/* DEVELOPMENT FONTS */
/* FONTS */
/* PADDING */
/* COLORS */
/* BREAKPOINTS */
/* COMPONENTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
/* DISPLAY FONTS */
@font-face {
  font-family: "Fromages-Display";
  src: url("/fonts/4-Fromages-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crozet-Display";
  src: url("/fonts/Crozet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flowstate-Display";
  src: url("/fonts/flowstate.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* SANS-SERIF FONTS */
@font-face {
  font-family: "Geist-SansSerif";
  src: url("/fonts/Geist/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Bold-SansSerif";
  src: url("/fonts/Geist/Geist-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light-SansSerif";
  src: url("/fonts/Geist/Geist-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* MONOSPACE FONTS */
@font-face {
  font-family: "Geist-Medium-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Variable-Mono";
  src: url("/fonts/Geist.Mono/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* NATIVE STYLES */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFFCF9;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Geist-SansSerif", sans-serif;
}

html {
  height: -webkit-fill-available;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10.75%;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
  align-items: center;
}

section {
  animation: fadeIn 0.66s;
  animation-iteration-count: 1;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
section[aria-label=content-header] {
  margin-top: 10.75%;
  display: flex;
  flex-direction: column;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
}
section[aria-label=content] {
  overflow-x: hidden;
  flex-basis: 60vh;
  flex: 1;
}

footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body {
    flex-direction: row;
  }
  header {
    cursor: default;
    margin: 0 5%;
    flex-direction: row;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%;
  }
  section {
    margin: 0 5%;
    flex-direction: row;
  }
  section[aria-label=content-header] {
    margin-top: 0;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%;
  }
  section[aria-label=content] {
    flex-wrap: wrap;
    width: 100%;
    display: block;
    overflow: visible;
  }
  [class|=confetti] {
    position: absolute;
    display: none;
  }
  .confetti-0 {
    width: 8px;
    height: 10.64px;
    background-color: #3a3a3a;
    top: -10%;
    left: 64%;
    opacity: 1.4202107361;
    transform: rotate(214.3664760159deg);
    animation: drop-0 4.5571159113s 0.7145630866s infinite;
  }
  @keyframes drop-0 {
    100% {
      top: 110%;
      left: 77%;
    }
  }
  .confetti-1 {
    width: 6px;
    height: 7.98px;
    background-color: #445adb;
    top: -10%;
    left: 62%;
    opacity: 0.9606392615;
    transform: rotate(95.8747836393deg);
    animation: drop-1 4.1404951896s 0.0288887474s infinite;
  }
  @keyframes drop-1 {
    100% {
      top: 110%;
      left: 64%;
    }
  }
  .confetti-2 {
    width: 3px;
    height: 3.99px;
    background-color: #3a3a3a;
    top: -10%;
    left: 38%;
    opacity: 0.997593377;
    transform: rotate(340.3682505594deg);
    animation: drop-2 4.6263648482s 0.2407984063s infinite;
  }
  @keyframes drop-2 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  .confetti-3 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 75%;
    opacity: 0.7473547009;
    transform: rotate(121.0480319751deg);
    animation: drop-3 4.800340968s 0.1132666497s infinite;
  }
  @keyframes drop-3 {
    100% {
      top: 110%;
      left: 82%;
    }
  }
  .confetti-4 {
    width: 1px;
    height: 1.33px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 92%;
    opacity: 0.8598659216;
    transform: rotate(1.7839261574deg);
    animation: drop-4 4.4914196882s 0.0652750042s infinite;
  }
  @keyframes drop-4 {
    100% {
      top: 110%;
      left: 102%;
    }
  }
  .confetti-5 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 53%;
    opacity: 1.2818744011;
    transform: rotate(169.9193824297deg);
    animation: drop-5 4.7128636867s 0.9961076014s infinite;
  }
  @keyframes drop-5 {
    100% {
      top: 110%;
      left: 54%;
    }
  }
  .confetti-6 {
    width: 4px;
    height: 5.32px;
    background-color: #3a3a3a;
    top: -10%;
    left: 39%;
    opacity: 1.3100407773;
    transform: rotate(155.4166376419deg);
    animation: drop-6 4.5772558684s 0.3891450906s infinite;
  }
  @keyframes drop-6 {
    100% {
      top: 110%;
      left: 54%;
    }
  }
  .confetti-7 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 35%;
    opacity: 0.7630469636;
    transform: rotate(184.5703842613deg);
    animation: drop-7 4.8413020481s 0.1455689004s infinite;
  }
  @keyframes drop-7 {
    100% {
      top: 110%;
      left: 46%;
    }
  }
  .confetti-8 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 35%;
    opacity: 1.1370371028;
    transform: rotate(312.4115611718deg);
    animation: drop-8 4.622833715s 0.6634236465s infinite;
  }
  @keyframes drop-8 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-9 {
    width: 8px;
    height: 10.64px;
    background-color: white;
    top: -10%;
    left: 93%;
    opacity: 1.026968193;
    transform: rotate(268.54220543deg);
    animation: drop-9 4.0637580344s 0.050071792s infinite;
  }
  @keyframes drop-9 {
    100% {
      top: 110%;
      left: 108%;
    }
  }
  .confetti-10 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 65%;
    opacity: 0.8302921137;
    transform: rotate(124.1833965949deg);
    animation: drop-10 4.0263053228s 0.1499393548s infinite;
  }
  @keyframes drop-10 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  .confetti-11 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 24%;
    opacity: 1.4301066167;
    transform: rotate(340.1971884439deg);
    animation: drop-11 4.5662754248s 0.1798071038s infinite;
  }
  @keyframes drop-11 {
    100% {
      top: 110%;
      left: 38%;
    }
  }
  .confetti-12 {
    width: 5px;
    height: 6.65px;
    background-color: #445adb;
    top: -10%;
    left: 54%;
    opacity: 0.8509596681;
    transform: rotate(32.1589220017deg);
    animation: drop-12 4.4670771583s 0.6622973456s infinite;
  }
  @keyframes drop-12 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-13 {
    width: 1px;
    height: 1.33px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 41%;
    opacity: 1.0254851779;
    transform: rotate(167.7560279861deg);
    animation: drop-13 4.9262219802s 0.6603309155s infinite;
  }
  @keyframes drop-13 {
    100% {
      top: 110%;
      left: 47%;
    }
  }
  .confetti-14 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 98%;
    opacity: 0.8889523152;
    transform: rotate(254.9505806036deg);
    animation: drop-14 4.1285265639s 0.591070415s infinite;
  }
  @keyframes drop-14 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  .confetti-15 {
    width: 5px;
    height: 6.65px;
    background-color: #445adb;
    top: -10%;
    left: 91%;
    opacity: 0.5542856995;
    transform: rotate(24.406572728deg);
    animation: drop-15 4.1358065896s 0.7528645932s infinite;
  }
  @keyframes drop-15 {
    100% {
      top: 110%;
      left: 106%;
    }
  }
  .confetti-16 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 77%;
    opacity: 1.2342843072;
    transform: rotate(271.7421592877deg);
    animation: drop-16 4.0905846869s 0.6569446913s infinite;
  }
  @keyframes drop-16 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  .confetti-17 {
    width: 2px;
    height: 2.66px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 86%;
    opacity: 0.5448089066;
    transform: rotate(301.5253032878deg);
    animation: drop-17 4.0541293401s 0.0789099706s infinite;
  }
  @keyframes drop-17 {
    100% {
      top: 110%;
      left: 97%;
    }
  }
  .confetti-18 {
    width: 3px;
    height: 3.99px;
    background-color: #3a3a3a;
    top: -10%;
    left: 96%;
    opacity: 0.6505986599;
    transform: rotate(277.2590984303deg);
    animation: drop-18 4.8406963593s 0.7266466208s infinite;
  }
  @keyframes drop-18 {
    100% {
      top: 110%;
      left: 105%;
    }
  }
  .confetti-19 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 85%;
    opacity: 0.9306940827;
    transform: rotate(308.0743154913deg);
    animation: drop-19 4.2160120616s 0.0237188238s infinite;
  }
  @keyframes drop-19 {
    100% {
      top: 110%;
      left: 91%;
    }
  }
  .confetti-20 {
    width: 4px;
    height: 5.32px;
    background-color: #445adb;
    top: -10%;
    left: 3%;
    opacity: 0.6376292746;
    transform: rotate(166.2694970775deg);
    animation: drop-20 4.3802262788s 0.1965409691s infinite;
  }
  @keyframes drop-20 {
    100% {
      top: 110%;
      left: 15%;
    }
  }
  .confetti-21 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 50%;
    opacity: 0.6227237862;
    transform: rotate(156.3216159925deg);
    animation: drop-21 4.2973536534s 0.6804991425s infinite;
  }
  @keyframes drop-21 {
    100% {
      top: 110%;
      left: 61%;
    }
  }
  .confetti-22 {
    width: 7px;
    height: 9.31px;
    background-color: #3a3a3a;
    top: -10%;
    left: 71%;
    opacity: 0.7001911868;
    transform: rotate(52.5653985836deg);
    animation: drop-22 4.1236218261s 0.6373342992s infinite;
  }
  @keyframes drop-22 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  .confetti-23 {
    width: 5px;
    height: 6.65px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 58%;
    opacity: 1.2871190074;
    transform: rotate(119.434972277deg);
    animation: drop-23 4.0599218096s 0.6702777074s infinite;
  }
  @keyframes drop-23 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-24 {
    width: 4px;
    height: 5.32px;
    background-color: #3a3a3a;
    top: -10%;
    left: 62%;
    opacity: 0.875121705;
    transform: rotate(190.9942882981deg);
    animation: drop-24 4.1655258897s 0.3476821131s infinite;
  }
  @keyframes drop-24 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  .confetti-25 {
    width: 2px;
    height: 2.66px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 95%;
    opacity: 0.55796541;
    transform: rotate(69.0430245016deg);
    animation: drop-25 4.6450856453s 0.7432189186s infinite;
  }
  @keyframes drop-25 {
    100% {
      top: 110%;
      left: 104%;
    }
  }
  .confetti-26 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 9%;
    opacity: 1.0281191357;
    transform: rotate(164.7459651576deg);
    animation: drop-26 4.2788514744s 0.1160576567s infinite;
  }
  @keyframes drop-26 {
    100% {
      top: 110%;
      left: 15%;
    }
  }
  .confetti-27 {
    width: 6px;
    height: 7.98px;
    background-color: #3a3a3a;
    top: -10%;
    left: 55%;
    opacity: 0.908318278;
    transform: rotate(36.2968524402deg);
    animation: drop-27 4.6953856662s 0.5262555096s infinite;
  }
  @keyframes drop-27 {
    100% {
      top: 110%;
      left: 57%;
    }
  }
  .confetti-28 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 44%;
    opacity: 1.0084046014;
    transform: rotate(269.2187383794deg);
    animation: drop-28 4.3102231558s 0.5664033149s infinite;
  }
  @keyframes drop-28 {
    100% {
      top: 110%;
      left: 52%;
    }
  }
  .confetti-29 {
    width: 2px;
    height: 2.66px;
    background-color: #3a3a3a;
    top: -10%;
    left: 14%;
    opacity: 0.9825227621;
    transform: rotate(211.1640703739deg);
    animation: drop-29 4.2018151125s 0.6118043927s infinite;
  }
  @keyframes drop-29 {
    100% {
      top: 110%;
      left: 28%;
    }
  }
  .confetti-30 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 14%;
    opacity: 1.2218375998;
    transform: rotate(134.0681189232deg);
    animation: drop-30 4.7137101075s 0.5294395007s infinite;
  }
  @keyframes drop-30 {
    100% {
      top: 110%;
      left: 25%;
    }
  }
  .confetti-31 {
    width: 2px;
    height: 2.66px;
    background-color: #445adb;
    top: -10%;
    left: 96%;
    opacity: 1.2130480881;
    transform: rotate(149.111017098deg);
    animation: drop-31 4.0356226962s 0.4177157925s infinite;
  }
  @keyframes drop-31 {
    100% {
      top: 110%;
      left: 98%;
    }
  }
  .confetti-32 {
    width: 3px;
    height: 3.99px;
    background-color: #3a3a3a;
    top: -10%;
    left: 2%;
    opacity: 1.0756572207;
    transform: rotate(162.6298554339deg);
    animation: drop-32 4.691053547s 0.1425332908s infinite;
  }
  @keyframes drop-32 {
    100% {
      top: 110%;
      left: 11%;
    }
  }
  .confetti-33 {
    width: 1px;
    height: 1.33px;
    background-color: #3a3a3a;
    top: -10%;
    left: 3%;
    opacity: 0.8098273865;
    transform: rotate(217.4143885165deg);
    animation: drop-33 4.5890635564s 0.8956776751s infinite;
  }
  @keyframes drop-33 {
    100% {
      top: 110%;
      left: 5%;
    }
  }
  .confetti-34 {
    width: 1px;
    height: 1.33px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 1%;
    opacity: 1.3176887568;
    transform: rotate(138.4737204915deg);
    animation: drop-34 4.1862110628s 0.0026774767s infinite;
  }
  @keyframes drop-34 {
    100% {
      top: 110%;
      left: 2%;
    }
  }
  .confetti-35 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 83%;
    opacity: 0.6726861844;
    transform: rotate(21.4220019971deg);
    animation: drop-35 4.9253812804s 0.9986043109s infinite;
  }
  @keyframes drop-35 {
    100% {
      top: 110%;
      left: 84%;
    }
  }
  .confetti-36 {
    width: 7px;
    height: 9.31px;
    background-color: #445adb;
    top: -10%;
    left: 74%;
    opacity: 0.9937101511;
    transform: rotate(33.5746488213deg);
    animation: drop-36 4.0056206477s 0.1815290716s infinite;
  }
  @keyframes drop-36 {
    100% {
      top: 110%;
      left: 80%;
    }
  }
  .confetti-37 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 65%;
    opacity: 0.5793944375;
    transform: rotate(320.2410270421deg);
    animation: drop-37 4.2225508462s 0.062162856s infinite;
  }
  @keyframes drop-37 {
    100% {
      top: 110%;
      left: 69%;
    }
  }
  .confetti-38 {
    width: 5px;
    height: 6.65px;
    background-color: #3a3a3a;
    top: -10%;
    left: 23%;
    opacity: 0.9616449734;
    transform: rotate(187.7719857819deg);
    animation: drop-38 4.8517948583s 0.4875962899s infinite;
  }
  @keyframes drop-38 {
    100% {
      top: 110%;
      left: 36%;
    }
  }
  .confetti-39 {
    width: 4px;
    height: 5.32px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 58%;
    opacity: 0.7876265573;
    transform: rotate(198.7387273088deg);
    animation: drop-39 4.2337986227s 0.5226291657s infinite;
  }
  @keyframes drop-39 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-40 {
    width: 1px;
    height: 1.33px;
    background-color: #3a3a3a;
    top: -10%;
    left: 95%;
    opacity: 1.3530842655;
    transform: rotate(304.4218625238deg);
    animation: drop-40 4.3458666031s 0.2689029892s infinite;
  }
  @keyframes drop-40 {
    100% {
      top: 110%;
      left: 110%;
    }
  }
  .confetti-41 {
    width: 4px;
    height: 5.32px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 22%;
    opacity: 0.6051631222;
    transform: rotate(233.0946764576deg);
    animation: drop-41 4.8578858844s 0.9184396962s infinite;
  }
  @keyframes drop-41 {
    100% {
      top: 110%;
      left: 37%;
    }
  }
  .confetti-42 {
    width: 6px;
    height: 7.98px;
    background-color: #445adb;
    top: -10%;
    left: 3%;
    opacity: 0.9081978084;
    transform: rotate(245.6046325308deg);
    animation: drop-42 4.0551678877s 0.1518141657s infinite;
  }
  @keyframes drop-42 {
    100% {
      top: 110%;
      left: 6%;
    }
  }
  .confetti-43 {
    width: 6px;
    height: 7.98px;
    background-color: #445adb;
    top: -10%;
    left: 97%;
    opacity: 1.2326746841;
    transform: rotate(174.3510359683deg);
    animation: drop-43 4.0940710122s 0.8533401161s infinite;
  }
  @keyframes drop-43 {
    100% {
      top: 110%;
      left: 106%;
    }
  }
  .confetti-44 {
    width: 5px;
    height: 6.65px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 78%;
    opacity: 1.3971223367;
    transform: rotate(42.391173094deg);
    animation: drop-44 4.954511147s 0.6730085276s infinite;
  }
  @keyframes drop-44 {
    100% {
      top: 110%;
      left: 91%;
    }
  }
  .confetti-45 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 10%;
    opacity: 1.2058113617;
    transform: rotate(41.0106010421deg);
    animation: drop-45 4.3176165786s 0.3060398112s infinite;
  }
  @keyframes drop-45 {
    100% {
      top: 110%;
      left: 14%;
    }
  }
  .confetti-46 {
    width: 4px;
    height: 5.32px;
    background-color: #3a3a3a;
    top: -10%;
    left: 26%;
    opacity: 1.3065335384;
    transform: rotate(65.8027998026deg);
    animation: drop-46 4.0996509759s 0.7762081558s infinite;
  }
  @keyframes drop-46 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  .confetti-47 {
    width: 4px;
    height: 5.32px;
    background-color: #445adb;
    top: -10%;
    left: 79%;
    opacity: 0.5730883653;
    transform: rotate(76.7648862865deg);
    animation: drop-47 4.5189150129s 0.7727517446s infinite;
  }
  @keyframes drop-47 {
    100% {
      top: 110%;
      left: 91%;
    }
  }
  .confetti-48 {
    width: 6px;
    height: 7.98px;
    background-color: white;
    top: -10%;
    left: 74%;
    opacity: 1.4783554279;
    transform: rotate(178.4377701922deg);
    animation: drop-48 4.4831804033s 0.3878586768s infinite;
  }
  @keyframes drop-48 {
    100% {
      top: 110%;
      left: 77%;
    }
  }
  .confetti-49 {
    width: 8px;
    height: 10.64px;
    background-color: white;
    top: -10%;
    left: 22%;
    opacity: 1.4200546253;
    transform: rotate(298.4977129988deg);
    animation: drop-49 4.4521065114s 0.5695896401s infinite;
  }
  @keyframes drop-49 {
    100% {
      top: 110%;
      left: 29%;
    }
  }
  .confetti-50 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 89%;
    opacity: 1.0344394443;
    transform: rotate(260.5455975997deg);
    animation: drop-50 4.1817450668s 0.8885466404s infinite;
  }
  @keyframes drop-50 {
    100% {
      top: 110%;
      left: 97%;
    }
  }
}

/*# sourceMappingURL=global.css.map */
