/* LEGACY FONTS */
/* DEVELOPMENT FONTS */
/* FONTS */
/* PADDING */
/* COLORS */
/* BREAKPOINTS */
/* COMPONENTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
/* DISPLAY FONTS */
@font-face {
  font-family: "Aukera-Display";
  src: url("/fonts/aukera.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AUSRINE-Display";
  src: url("/fonts/AUSRINE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tiltortion-Display";
  src: url("/fonts/Tiltortion.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lithops-Display";
  src: url("/fonts/Lithops-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Slinkee-Display";
  src: url("/fonts/Slinkee.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heritage-Display";
  src: url("/fonts/Heritage-Display.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BARSTUKAI-Display";
  src: url("/fonts/BARSTUKAI-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KUPOLE-Display";
  src: url("/fonts/KUPOLE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LaBorisette-Display";
  src: url("/fonts/LaBorisette-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fromages-Display";
  src: url("/fonts/4-Fromages-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crozet-Display";
  src: url("/fonts/Crozet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flowstate-Display";
  src: url("/fonts/flowstate.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* SANS-SERIF FONTS */
@font-face {
  font-family: "Amiamie-SansSerif";
  src: url("/fonts/Amiamie/Amiamie-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amiamie-Light-SansSerif";
  src: url("/fonts/Amiamie/Amiamie-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amiamie-Round-SansSerif";
  src: url("/fonts/Amiamie/Amiamie-RegularRound.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-SansSerif";
  src: url("/fonts/Geist/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Bold-SansSerif";
  src: url("/fonts/Geist/Geist-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light-SansSerif";
  src: url("/fonts/Geist/Geist-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* MONOSPACE FONTS */
@font-face {
  font-family: "Basier-Mono";
  src: url("/fonts/BasierSquareMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Commit-Variable-Mono";
  src: url("/fonts/CommitMonoV143/CommitMono VariableFont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Medium-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Black-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Semibold-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Regular-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Variable-Mono";
  src: url("/fonts/Geist.Mono/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Necto-Mono";
  src: url("/fonts/NectoMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Silka-Mono";
  src: url("/fonts/silkamono-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* NATIVE STYLES */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFFCF9;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Geist-SansSerif", sans-serif;
}

html {
  height: -webkit-fill-available;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10.75%;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
  align-items: center;
}

section {
  animation: fadeIn 0.66s;
  animation-iteration-count: 1;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
section[aria-label=content-header] {
  margin-top: 10.75%;
  display: flex;
  flex-direction: column;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
}
section[aria-label=content] {
  overflow-x: hidden;
  flex-basis: 60vh;
  flex: 1;
}

footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body {
    flex-direction: row;
  }
  header {
    cursor: default;
    margin: 0 5%;
    flex-direction: row;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%;
  }
  section {
    margin: 0 5%;
    flex-direction: row;
  }
  section[aria-label=content-header] {
    margin-top: 0;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%;
  }
  section[aria-label=content] {
    flex-wrap: wrap;
    width: 100%;
    display: block;
    overflow: visible;
  }
  [class|=confetti] {
    position: absolute;
    display: none;
  }
  .confetti-0 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 98%;
    opacity: 0.8860544244;
    transform: rotate(14.2161847252deg);
    animation: drop-0 4.4077755216s 0.6330479088s infinite;
  }
  @keyframes drop-0 {
    100% {
      top: 110%;
      left: 112%;
    }
  }
  .confetti-1 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 40%;
    opacity: 0.6210315898;
    transform: rotate(165.1546830305deg);
    animation: drop-1 4.1218442268s 0.3807822518s infinite;
  }
  @keyframes drop-1 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  .confetti-2 {
    width: 4px;
    height: 5.32px;
    background-color: #445adb;
    top: -10%;
    left: 7%;
    opacity: 1.4332646944;
    transform: rotate(122.9749911222deg);
    animation: drop-2 4.4250430862s 0.0619920736s infinite;
  }
  @keyframes drop-2 {
    100% {
      top: 110%;
      left: 9%;
    }
  }
  .confetti-3 {
    width: 1px;
    height: 1.33px;
    background-color: #3a3a3a;
    top: -10%;
    left: 75%;
    opacity: 1.4083323754;
    transform: rotate(338.9498394418deg);
    animation: drop-3 4.0696384946s 0.4228361309s infinite;
  }
  @keyframes drop-3 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  .confetti-4 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 2%;
    opacity: 0.5504627551;
    transform: rotate(315.2813541328deg);
    animation: drop-4 4.5398912909s 0.6452433836s infinite;
  }
  @keyframes drop-4 {
    100% {
      top: 110%;
      left: 3%;
    }
  }
  .confetti-5 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 61%;
    opacity: 0.7997940115;
    transform: rotate(26.0177182537deg);
    animation: drop-5 4.488756077s 0.0986683922s infinite;
  }
  @keyframes drop-5 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-6 {
    width: 8px;
    height: 10.64px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 39%;
    opacity: 0.5265317791;
    transform: rotate(162.7479242787deg);
    animation: drop-6 4.5515190327s 0.8516837529s infinite;
  }
  @keyframes drop-6 {
    100% {
      top: 110%;
      left: 48%;
    }
  }
  .confetti-7 {
    width: 7px;
    height: 9.31px;
    background-color: #3a3a3a;
    top: -10%;
    left: 78%;
    opacity: 1.1513664872;
    transform: rotate(317.6918215986deg);
    animation: drop-7 4.1155760711s 0.3575536795s infinite;
  }
  @keyframes drop-7 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  .confetti-8 {
    width: 6px;
    height: 7.98px;
    background-color: white;
    top: -10%;
    left: 58%;
    opacity: 0.9631887773;
    transform: rotate(62.3301051851deg);
    animation: drop-8 4.9866314709s 0.687038004s infinite;
  }
  @keyframes drop-8 {
    100% {
      top: 110%;
      left: 62%;
    }
  }
  .confetti-9 {
    width: 5px;
    height: 6.65px;
    background-color: #3a3a3a;
    top: -10%;
    left: 53%;
    opacity: 0.5578412226;
    transform: rotate(139.9807067038deg);
    animation: drop-9 4.639052249s 0.3204653943s infinite;
  }
  @keyframes drop-9 {
    100% {
      top: 110%;
      left: 62%;
    }
  }
  .confetti-10 {
    width: 5px;
    height: 6.65px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 52%;
    opacity: 0.9642716961;
    transform: rotate(205.7480430576deg);
    animation: drop-10 4.0123427993s 0.2418030112s infinite;
  }
  @keyframes drop-10 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  .confetti-11 {
    width: 5px;
    height: 6.65px;
    background-color: #445adb;
    top: -10%;
    left: 25%;
    opacity: 1.3457079373;
    transform: rotate(232.5735717684deg);
    animation: drop-11 4.5697551874s 0.9400241096s infinite;
  }
  @keyframes drop-11 {
    100% {
      top: 110%;
      left: 35%;
    }
  }
  .confetti-12 {
    width: 3px;
    height: 3.99px;
    background-color: #3a3a3a;
    top: -10%;
    left: 20%;
    opacity: 1.4764775715;
    transform: rotate(39.3530814774deg);
    animation: drop-12 4.688128152s 0.3248503175s infinite;
  }
  @keyframes drop-12 {
    100% {
      top: 110%;
      left: 30%;
    }
  }
  .confetti-13 {
    width: 4px;
    height: 5.32px;
    background-color: #3a3a3a;
    top: -10%;
    left: 25%;
    opacity: 0.6369213426;
    transform: rotate(181.8226623816deg);
    animation: drop-13 4.0124021328s 0.6764708978s infinite;
  }
  @keyframes drop-13 {
    100% {
      top: 110%;
      left: 28%;
    }
  }
  .confetti-14 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 53%;
    opacity: 0.8329447824;
    transform: rotate(258.5838411699deg);
    animation: drop-14 4.5171741726s 0.4292021237s infinite;
  }
  @keyframes drop-14 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-15 {
    width: 4px;
    height: 5.32px;
    background-color: #445adb;
    top: -10%;
    left: 67%;
    opacity: 1.3483475521;
    transform: rotate(338.6532360547deg);
    animation: drop-15 4.5929828576s 0.8816259534s infinite;
  }
  @keyframes drop-15 {
    100% {
      top: 110%;
      left: 82%;
    }
  }
  .confetti-16 {
    width: 5px;
    height: 6.65px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 87%;
    opacity: 1.4400547466;
    transform: rotate(218.7921405174deg);
    animation: drop-16 4.1998869591s 0.9086952508s infinite;
  }
  @keyframes drop-16 {
    100% {
      top: 110%;
      left: 99%;
    }
  }
  .confetti-17 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 71%;
    opacity: 1.1832005559;
    transform: rotate(76.1741335026deg);
    animation: drop-17 4.1865225693s 0.3134622917s infinite;
  }
  @keyframes drop-17 {
    100% {
      top: 110%;
      left: 85%;
    }
  }
  .confetti-18 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 65%;
    opacity: 0.9795747659;
    transform: rotate(46.7629053956deg);
    animation: drop-18 4.8163387233s 0.8558929165s infinite;
  }
  @keyframes drop-18 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-19 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 42%;
    opacity: 1.3962501832;
    transform: rotate(260.9743899565deg);
    animation: drop-19 4.8615043761s 0.9914581295s infinite;
  }
  @keyframes drop-19 {
    100% {
      top: 110%;
      left: 52%;
    }
  }
  .confetti-20 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 52%;
    opacity: 0.6217345373;
    transform: rotate(145.786327701deg);
    animation: drop-20 4.8050177948s 0.1170562153s infinite;
  }
  @keyframes drop-20 {
    100% {
      top: 110%;
      left: 63%;
    }
  }
  .confetti-21 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 21%;
    opacity: 1.2082651037;
    transform: rotate(93.911870171deg);
    animation: drop-21 4.1760165517s 0.1533927063s infinite;
  }
  @keyframes drop-21 {
    100% {
      top: 110%;
      left: 35%;
    }
  }
  .confetti-22 {
    width: 3px;
    height: 3.99px;
    background-color: #3a3a3a;
    top: -10%;
    left: 36%;
    opacity: 1.3548212951;
    transform: rotate(71.3512399181deg);
    animation: drop-22 4.9683069138s 0.0819072508s infinite;
  }
  @keyframes drop-22 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  .confetti-23 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 29%;
    opacity: 0.5717942214;
    transform: rotate(54.6930308861deg);
    animation: drop-23 4.1715035585s 0.5960391264s infinite;
  }
  @keyframes drop-23 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  .confetti-24 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 5%;
    opacity: 1.3084163221;
    transform: rotate(91.9550077612deg);
    animation: drop-24 4.1303529116s 0.5576214434s infinite;
  }
  @keyframes drop-24 {
    100% {
      top: 110%;
      left: 12%;
    }
  }
  .confetti-25 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 13%;
    opacity: 0.5406184866;
    transform: rotate(140.3892096123deg);
    animation: drop-25 4.740127901s 0.5766253831s infinite;
  }
  @keyframes drop-25 {
    100% {
      top: 110%;
      left: 16%;
    }
  }
  .confetti-26 {
    width: 5px;
    height: 6.65px;
    background-color: #3a3a3a;
    top: -10%;
    left: 49%;
    opacity: 0.929781464;
    transform: rotate(181.1911716694deg);
    animation: drop-26 4.2220842643s 0.4357514193s infinite;
  }
  @keyframes drop-26 {
    100% {
      top: 110%;
      left: 62%;
    }
  }
  .confetti-27 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 60%;
    opacity: 0.7892055616;
    transform: rotate(93.6363508724deg);
    animation: drop-27 4.8713546803s 0.5101131345s infinite;
  }
  @keyframes drop-27 {
    100% {
      top: 110%;
      left: 69%;
    }
  }
  .confetti-28 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 29%;
    opacity: 0.9138326163;
    transform: rotate(20.6578376515deg);
    animation: drop-28 4.9400778524s 0.9158132171s infinite;
  }
  @keyframes drop-28 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  .confetti-29 {
    width: 2px;
    height: 2.66px;
    background-color: #445adb;
    top: -10%;
    left: 17%;
    opacity: 1.2109697815;
    transform: rotate(284.6069246461deg);
    animation: drop-29 4.3996369961s 0.5025556295s infinite;
  }
  @keyframes drop-29 {
    100% {
      top: 110%;
      left: 24%;
    }
  }
  .confetti-30 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 36%;
    opacity: 0.9509623534;
    transform: rotate(77.8013866077deg);
    animation: drop-30 4.4822682437s 0.0692834098s infinite;
  }
  @keyframes drop-30 {
    100% {
      top: 110%;
      left: 48%;
    }
  }
  .confetti-31 {
    width: 3px;
    height: 3.99px;
    background-color: #445adb;
    top: -10%;
    left: 90%;
    opacity: 1.2203548198;
    transform: rotate(274.427841465deg);
    animation: drop-31 4.7912346952s 0.5463821303s infinite;
  }
  @keyframes drop-31 {
    100% {
      top: 110%;
      left: 100%;
    }
  }
  .confetti-32 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 33%;
    opacity: 1.0860348364;
    transform: rotate(230.3760241968deg);
    animation: drop-32 4.7951174967s 0.3697655457s infinite;
  }
  @keyframes drop-32 {
    100% {
      top: 110%;
      left: 35%;
    }
  }
  .confetti-33 {
    width: 5px;
    height: 6.65px;
    background-color: #445adb;
    top: -10%;
    left: 57%;
    opacity: 1.3584190969;
    transform: rotate(149.3502890764deg);
    animation: drop-33 4.6354044766s 0.6535414978s infinite;
  }
  @keyframes drop-33 {
    100% {
      top: 110%;
      left: 72%;
    }
  }
  .confetti-34 {
    width: 1px;
    height: 1.33px;
    background-color: #3a3a3a;
    top: -10%;
    left: 95%;
    opacity: 0.692741202;
    transform: rotate(330.3910487789deg);
    animation: drop-34 4.0092937768s 0.8474714981s infinite;
  }
  @keyframes drop-34 {
    100% {
      top: 110%;
      left: 108%;
    }
  }
  .confetti-35 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 89%;
    opacity: 1.0636596977;
    transform: rotate(246.0368766112deg);
    animation: drop-35 4.6537271263s 0.5807430283s infinite;
  }
  @keyframes drop-35 {
    100% {
      top: 110%;
      left: 90%;
    }
  }
  .confetti-36 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 98%;
    opacity: 1.1067364981;
    transform: rotate(288.9886313345deg);
    animation: drop-36 4.0932569807s 0.9295940658s infinite;
  }
  @keyframes drop-36 {
    100% {
      top: 110%;
      left: 100%;
    }
  }
  .confetti-37 {
    width: 4px;
    height: 5.32px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 30%;
    opacity: 1.0481088711;
    transform: rotate(81.2681505237deg);
    animation: drop-37 4.7984486194s 0.0060969536s infinite;
  }
  @keyframes drop-37 {
    100% {
      top: 110%;
      left: 34%;
    }
  }
  .confetti-38 {
    width: 2px;
    height: 2.66px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 49%;
    opacity: 0.8143240821;
    transform: rotate(357.6965063972deg);
    animation: drop-38 4.4341616337s 0.2771891167s infinite;
  }
  @keyframes drop-38 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  .confetti-39 {
    width: 4px;
    height: 5.32px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 94%;
    opacity: 0.5829579759;
    transform: rotate(303.4159457936deg);
    animation: drop-39 4.0315268985s 0.4961885963s infinite;
  }
  @keyframes drop-39 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  .confetti-40 {
    width: 5px;
    height: 6.65px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 45%;
    opacity: 0.5804151835;
    transform: rotate(10.7914589203deg);
    animation: drop-40 4.670086589s 0.4232340755s infinite;
  }
  @keyframes drop-40 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  .confetti-41 {
    width: 5px;
    height: 6.65px;
    background-color: #445adb;
    top: -10%;
    left: 100%;
    opacity: 1.1253543745;
    transform: rotate(12.028349091deg);
    animation: drop-41 4.9553041887s 0.2480610327s infinite;
  }
  @keyframes drop-41 {
    100% {
      top: 110%;
      left: 115%;
    }
  }
  .confetti-42 {
    width: 4px;
    height: 5.32px;
    background-color: #445adb;
    top: -10%;
    left: 17%;
    opacity: 0.5211594124;
    transform: rotate(350.6346585648deg);
    animation: drop-42 4.3718139693s 0.9937794619s infinite;
  }
  @keyframes drop-42 {
    100% {
      top: 110%;
      left: 29%;
    }
  }
  .confetti-43 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 89%;
    opacity: 1.0238152541;
    transform: rotate(156.5823515213deg);
    animation: drop-43 4.6696019481s 0.8983768382s infinite;
  }
  @keyframes drop-43 {
    100% {
      top: 110%;
      left: 98%;
    }
  }
  .confetti-44 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 96%;
    opacity: 0.6747264146;
    transform: rotate(101.7968062205deg);
    animation: drop-44 4.5428752816s 0.7339742749s infinite;
  }
  @keyframes drop-44 {
    100% {
      top: 110%;
      left: 102%;
    }
  }
  .confetti-45 {
    width: 4px;
    height: 5.32px;
    background-color: #3a3a3a;
    top: -10%;
    left: 58%;
    opacity: 1.3162193187;
    transform: rotate(254.7234639652deg);
    animation: drop-45 4.0091965681s 0.389553646s infinite;
  }
  @keyframes drop-45 {
    100% {
      top: 110%;
      left: 63%;
    }
  }
  .confetti-46 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 62%;
    opacity: 1.3374062292;
    transform: rotate(227.3527120899deg);
    animation: drop-46 4.2015610059s 0.3818449918s infinite;
  }
  @keyframes drop-46 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  .confetti-47 {
    width: 2px;
    height: 2.66px;
    background-color: #3a3a3a;
    top: -10%;
    left: 7%;
    opacity: 0.9064250027;
    transform: rotate(305.3764590265deg);
    animation: drop-47 4.9626194571s 0.1439503485s infinite;
  }
  @keyframes drop-47 {
    100% {
      top: 110%;
      left: 10%;
    }
  }
  .confetti-48 {
    width: 5px;
    height: 6.65px;
    background-color: #3a3a3a;
    top: -10%;
    left: 8%;
    opacity: 0.698082581;
    transform: rotate(242.3232974326deg);
    animation: drop-48 4.0440797311s 0.4173390632s infinite;
  }
  @keyframes drop-48 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  .confetti-49 {
    width: 3px;
    height: 3.99px;
    background-color: #445adb;
    top: -10%;
    left: 46%;
    opacity: 1.4650611722;
    transform: rotate(221.2294626886deg);
    animation: drop-49 4.762547095s 0.2729832062s infinite;
  }
  @keyframes drop-49 {
    100% {
      top: 110%;
      left: 50%;
    }
  }
  .confetti-50 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 40%;
    opacity: 1.1976209159;
    transform: rotate(93.1199931948deg);
    animation: drop-50 4.7012369945s 0.3409620109s infinite;
  }
  @keyframes drop-50 {
    100% {
      top: 110%;
      left: 43%;
    }
  }
}

/*# sourceMappingURL=global.css.map */
