/* LEGACY FONTS */
/* DEVELOPMENT FONTS */
/* FONTS */
/* PADDING */
/* COLORS */
/* BREAKPOINTS */
/* COMPONENTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
/* DISPLAY FONTS */
@font-face {
  font-family: "Aukera-Display";
  src: url("/fonts/aukera.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AUSRINE-Display";
  src: url("/fonts/AUSRINE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tiltortion-Display";
  src: url("/fonts/Tiltortion.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lithops-Display";
  src: url("/fonts/Lithops-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Slinkee-Display";
  src: url("/fonts/Slinkee.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heritage-Display";
  src: url("/fonts/Heritage-Display.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BARSTUKAI-Display";
  src: url("/fonts/BARSTUKAI-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KUPOLE-Display";
  src: url("/fonts/KUPOLE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LaBorisette-Display";
  src: url("/fonts/LaBorisette-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fromages-Display";
  src: url("/fonts/4-Fromages-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crozet-Display";
  src: url("/fonts/Crozet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flowstate-Display";
  src: url("/fonts/flowstate.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* SANS-SERIF FONTS */
@font-face {
  font-family: "Amiamie-SansSerif";
  src: url("/fonts/Amiamie/Amiamie-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amiamie-Light-SansSerif";
  src: url("/fonts/Amiamie/Amiamie-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amiamie-Round-SansSerif";
  src: url("/fonts/Amiamie/Amiamie-RegularRound.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-SansSerif";
  src: url("/fonts/Geist/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Bold-SansSerif";
  src: url("/fonts/Geist/Geist-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light-SansSerif";
  src: url("/fonts/Geist/Geist-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* MONOSPACE FONTS */
@font-face {
  font-family: "Basier-Mono";
  src: url("/fonts/BasierSquareMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Commit-Variable-Mono";
  src: url("/fonts/CommitMonoV143/CommitMono VariableFont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Medium-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Black-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Semibold-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Light-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Regular-Mono";
  src: url("/fonts/Geist.Mono/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Variable-Mono";
  src: url("/fonts/Geist.Mono/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Necto-Mono";
  src: url("/fonts/NectoMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Silka-Mono";
  src: url("/fonts/silkamono-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* NATIVE STYLES */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFFCF9;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Geist-SansSerif", sans-serif;
}

html {
  height: -webkit-fill-available;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10.75%;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
  align-items: center;
}

section {
  animation: fadeIn 0.66s;
  animation-iteration-count: 1;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
section[aria-label=content-header] {
  margin-top: 10.75%;
  display: flex;
  flex-direction: column;
  padding: 22px;
  min-height: 20vh;
  flex-shrink: 0;
}
section[aria-label=content] {
  overflow-x: hidden;
  flex-basis: 60vh;
  flex: 1;
}

footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body {
    flex-direction: row;
  }
  header {
    cursor: default;
    margin: 0 5%;
    flex-direction: row;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%;
  }
  section {
    margin: 0 5%;
    flex-direction: row;
  }
  section[aria-label=content-header] {
    margin-top: 0;
    padding-top: 75px;
    align-items: left;
    height: 95px;
    max-width: 580px;
    min-width: 480px;
    width: 60%;
  }
  section[aria-label=content] {
    flex-wrap: wrap;
    width: 100%;
    display: block;
    overflow: visible;
  }
  [class|=confetti] {
    position: absolute;
    display: none;
  }
  .confetti-0 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 40%;
    opacity: 1.3489515723;
    transform: rotate(104.4996135084deg);
    animation: drop-0 4.6543381459s 0.7047096908s infinite;
  }
  @keyframes drop-0 {
    100% {
      top: 110%;
      left: 48%;
    }
  }
  .confetti-1 {
    width: 6px;
    height: 7.98px;
    background-color: white;
    top: -10%;
    left: 58%;
    opacity: 1.2826317656;
    transform: rotate(74.8139771413deg);
    animation: drop-1 4.722721847s 0.4689997379s infinite;
  }
  @keyframes drop-1 {
    100% {
      top: 110%;
      left: 71%;
    }
  }
  .confetti-2 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 7%;
    opacity: 1.2387015913;
    transform: rotate(199.3669143195deg);
    animation: drop-2 4.2899522162s 0.4245164s infinite;
  }
  @keyframes drop-2 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  .confetti-3 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 93%;
    opacity: 1.466997397;
    transform: rotate(306.3986005749deg);
    animation: drop-3 4.8722530534s 0.4556557471s infinite;
  }
  @keyframes drop-3 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  .confetti-4 {
    width: 7px;
    height: 9.31px;
    background-color: white;
    top: -10%;
    left: 9%;
    opacity: 0.9740130299;
    transform: rotate(339.9998307934deg);
    animation: drop-4 4.223027312s 0.5830065449s infinite;
  }
  @keyframes drop-4 {
    100% {
      top: 110%;
      left: 11%;
    }
  }
  .confetti-5 {
    width: 8px;
    height: 10.64px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 88%;
    opacity: 0.6826407442;
    transform: rotate(359.6510029341deg);
    animation: drop-5 4.1444508983s 0.0699150315s infinite;
  }
  @keyframes drop-5 {
    100% {
      top: 110%;
      left: 89%;
    }
  }
  .confetti-6 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 37%;
    opacity: 1.4214611322;
    transform: rotate(335.3933219125deg);
    animation: drop-6 4.7205649303s 0.8725627109s infinite;
  }
  @keyframes drop-6 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-7 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 23%;
    opacity: 0.8812906852;
    transform: rotate(325.4820458228deg);
    animation: drop-7 4.972725451s 0.0746803346s infinite;
  }
  @keyframes drop-7 {
    100% {
      top: 110%;
      left: 34%;
    }
  }
  .confetti-8 {
    width: 1px;
    height: 1.33px;
    background-color: #3a3a3a;
    top: -10%;
    left: 32%;
    opacity: 0.9539276267;
    transform: rotate(225.5258527281deg);
    animation: drop-8 4.2354650386s 0.5250842694s infinite;
  }
  @keyframes drop-8 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-9 {
    width: 6px;
    height: 7.98px;
    background-color: #445adb;
    top: -10%;
    left: 77%;
    opacity: 0.8226506758;
    transform: rotate(321.5096526995deg);
    animation: drop-9 4.0228685978s 0.8557865892s infinite;
  }
  @keyframes drop-9 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  .confetti-10 {
    width: 5px;
    height: 6.65px;
    background-color: #445adb;
    top: -10%;
    left: 11%;
    opacity: 0.6246689568;
    transform: rotate(281.9910447341deg);
    animation: drop-10 4.1018239025s 0.57570389s infinite;
  }
  @keyframes drop-10 {
    100% {
      top: 110%;
      left: 21%;
    }
  }
  .confetti-11 {
    width: 7px;
    height: 9.31px;
    background-color: #445adb;
    top: -10%;
    left: 82%;
    opacity: 1.091135745;
    transform: rotate(247.8451830477deg);
    animation: drop-11 4.7247685934s 0.3342442942s infinite;
  }
  @keyframes drop-11 {
    100% {
      top: 110%;
      left: 96%;
    }
  }
  .confetti-12 {
    width: 6px;
    height: 7.98px;
    background-color: #445adb;
    top: -10%;
    left: 30%;
    opacity: 0.5932146661;
    transform: rotate(197.1925699356deg);
    animation: drop-12 4.6714822277s 0.2889757669s infinite;
  }
  @keyframes drop-12 {
    100% {
      top: 110%;
      left: 31%;
    }
  }
  .confetti-13 {
    width: 5px;
    height: 6.65px;
    background-color: white;
    top: -10%;
    left: 97%;
    opacity: 0.8831877867;
    transform: rotate(36.4269096335deg);
    animation: drop-13 4.9754505764s 0.2029598745s infinite;
  }
  @keyframes drop-13 {
    100% {
      top: 110%;
      left: 99%;
    }
  }
  .confetti-14 {
    width: 6px;
    height: 7.98px;
    background-color: #3a3a3a;
    top: -10%;
    left: 59%;
    opacity: 1.2767298708;
    transform: rotate(273.6391144484deg);
    animation: drop-14 4.6832948526s 0.7759124836s infinite;
  }
  @keyframes drop-14 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-15 {
    width: 2px;
    height: 2.66px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 37%;
    opacity: 0.6218449593;
    transform: rotate(53.0825968443deg);
    animation: drop-15 4.5273599315s 0.3239351438s infinite;
  }
  @keyframes drop-15 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-16 {
    width: 6px;
    height: 7.98px;
    background-color: #3a3a3a;
    top: -10%;
    left: 29%;
    opacity: 1.1147553667;
    transform: rotate(15.8577353356deg);
    animation: drop-16 4.0337065004s 0.3369950455s infinite;
  }
  @keyframes drop-16 {
    100% {
      top: 110%;
      left: 30%;
    }
  }
  .confetti-17 {
    width: 8px;
    height: 10.64px;
    background-color: white;
    top: -10%;
    left: 60%;
    opacity: 0.5468512831;
    transform: rotate(343.8422056355deg);
    animation: drop-17 4.5455365725s 0.4954911479s infinite;
  }
  @keyframes drop-17 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-18 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 98%;
    opacity: 0.5164060718;
    transform: rotate(328.0603037396deg);
    animation: drop-18 4.8208612499s 0.4660781175s infinite;
  }
  @keyframes drop-18 {
    100% {
      top: 110%;
      left: 100%;
    }
  }
  .confetti-19 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 80%;
    opacity: 1.3888485197;
    transform: rotate(106.2330003764deg);
    animation: drop-19 4.2549724473s 0.1049767807s infinite;
  }
  @keyframes drop-19 {
    100% {
      top: 110%;
      left: 83%;
    }
  }
  .confetti-20 {
    width: 4px;
    height: 5.32px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 33%;
    opacity: 1.0070944568;
    transform: rotate(38.8698222976deg);
    animation: drop-20 4.9883659368s 0.9676517328s infinite;
  }
  @keyframes drop-20 {
    100% {
      top: 110%;
      left: 48%;
    }
  }
  .confetti-21 {
    width: 3px;
    height: 3.99px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 94%;
    opacity: 1.4309984122;
    transform: rotate(150.0620658084deg);
    animation: drop-21 4.8865842103s 0.8190494002s infinite;
  }
  @keyframes drop-21 {
    100% {
      top: 110%;
      left: 98%;
    }
  }
  .confetti-22 {
    width: 1px;
    height: 1.33px;
    background-color: #445adb;
    top: -10%;
    left: 19%;
    opacity: 0.5054592986;
    transform: rotate(315.6424235658deg);
    animation: drop-22 4.8121028165s 0.8873679399s infinite;
  }
  @keyframes drop-22 {
    100% {
      top: 110%;
      left: 29%;
    }
  }
  .confetti-23 {
    width: 8px;
    height: 10.64px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 51%;
    opacity: 1.2470872253;
    transform: rotate(4.2129879242deg);
    animation: drop-23 4.1126263893s 0.5386112443s infinite;
  }
  @keyframes drop-23 {
    100% {
      top: 110%;
      left: 53%;
    }
  }
  .confetti-24 {
    width: 8px;
    height: 10.64px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 83%;
    opacity: 1.2819113871;
    transform: rotate(197.8706467385deg);
    animation: drop-24 4.21296578s 0.6757553922s infinite;
  }
  @keyframes drop-24 {
    100% {
      top: 110%;
      left: 97%;
    }
  }
  .confetti-25 {
    width: 3px;
    height: 3.99px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 18%;
    opacity: 1.4984193861;
    transform: rotate(29.2410057195deg);
    animation: drop-25 4.1471539507s 0.5371153023s infinite;
  }
  @keyframes drop-25 {
    100% {
      top: 110%;
      left: 25%;
    }
  }
  .confetti-26 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 33%;
    opacity: 1.1345496136;
    transform: rotate(147.8248691402deg);
    animation: drop-26 4.6357021825s 0.4857580326s infinite;
  }
  @keyframes drop-26 {
    100% {
      top: 110%;
      left: 48%;
    }
  }
  .confetti-27 {
    width: 8px;
    height: 10.64px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 67%;
    opacity: 0.8395120578;
    transform: rotate(87.4799820272deg);
    animation: drop-27 4.6067299785s 0.1552472724s infinite;
  }
  @keyframes drop-27 {
    100% {
      top: 110%;
      left: 77%;
    }
  }
  .confetti-28 {
    width: 6px;
    height: 7.98px;
    background-color: #3a3a3a;
    top: -10%;
    left: 34%;
    opacity: 1.0529948342;
    transform: rotate(251.6711784252deg);
    animation: drop-28 4.851800787s 0.0420660238s infinite;
  }
  @keyframes drop-28 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  .confetti-29 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 37%;
    opacity: 1.0145940189;
    transform: rotate(348.5772863808deg);
    animation: drop-29 4.3619606686s 0.5310485571s infinite;
  }
  @keyframes drop-29 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-30 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 79%;
    opacity: 0.5162561452;
    transform: rotate(357.7057037729deg);
    animation: drop-30 4.3003531353s 0.0299932608s infinite;
  }
  @keyframes drop-30 {
    100% {
      top: 110%;
      left: 86%;
    }
  }
  .confetti-31 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 22%;
    opacity: 0.6017623901;
    transform: rotate(321.183222685deg);
    animation: drop-31 4.0694135712s 0.7791477679s infinite;
  }
  @keyframes drop-31 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  .confetti-32 {
    width: 3px;
    height: 3.99px;
    background-color: white;
    top: -10%;
    left: 76%;
    opacity: 0.7205845938;
    transform: rotate(197.771214766deg);
    animation: drop-32 4.5623245515s 0.2831296079s infinite;
  }
  @keyframes drop-32 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  .confetti-33 {
    width: 6px;
    height: 7.98px;
    background-color: #3a3a3a;
    top: -10%;
    left: 31%;
    opacity: 0.5245755535;
    transform: rotate(335.0384380134deg);
    animation: drop-33 4.8866146852s 0.5870005612s infinite;
  }
  @keyframes drop-33 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  .confetti-34 {
    width: 2px;
    height: 2.66px;
    background-color: #3a3a3a;
    top: -10%;
    left: 16%;
    opacity: 0.6729909471;
    transform: rotate(128.9490154381deg);
    animation: drop-34 4.3636234006s 0.3757097007s infinite;
  }
  @keyframes drop-34 {
    100% {
      top: 110%;
      left: 24%;
    }
  }
  .confetti-35 {
    width: 2px;
    height: 2.66px;
    background-color: #445adb;
    top: -10%;
    left: 17%;
    opacity: 1.157238271;
    transform: rotate(25.9708610177deg);
    animation: drop-35 4.4565334091s 0.6428034018s infinite;
  }
  @keyframes drop-35 {
    100% {
      top: 110%;
      left: 20%;
    }
  }
  .confetti-36 {
    width: 1px;
    height: 1.33px;
    background-color: #3a3a3a;
    top: -10%;
    left: 22%;
    opacity: 0.794366559;
    transform: rotate(6.6762012791deg);
    animation: drop-36 4.2291117261s 0.3881080585s infinite;
  }
  @keyframes drop-36 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  .confetti-37 {
    width: 3px;
    height: 3.99px;
    background-color: #445adb;
    top: -10%;
    left: 78%;
    opacity: 0.7220126079;
    transform: rotate(313.590211031deg);
    animation: drop-37 4.1277333231s 0.60583322s infinite;
  }
  @keyframes drop-37 {
    100% {
      top: 110%;
      left: 85%;
    }
  }
  .confetti-38 {
    width: 3px;
    height: 3.99px;
    background-color: #445adb;
    top: -10%;
    left: 63%;
    opacity: 1.1474273884;
    transform: rotate(0.9818589768deg);
    animation: drop-38 4.9969650927s 0.8828232426s infinite;
  }
  @keyframes drop-38 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-39 {
    width: 4px;
    height: 5.32px;
    background-color: #445adb;
    top: -10%;
    left: 88%;
    opacity: 1.4718665842;
    transform: rotate(177.2119536385deg);
    animation: drop-39 4.5416399298s 0.0274852457s infinite;
  }
  @keyframes drop-39 {
    100% {
      top: 110%;
      left: 91%;
    }
  }
  .confetti-40 {
    width: 7px;
    height: 9.31px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 83%;
    opacity: 0.8776629514;
    transform: rotate(56.1296372087deg);
    animation: drop-40 4.504343602s 0.4511244099s infinite;
  }
  @keyframes drop-40 {
    100% {
      top: 110%;
      left: 98%;
    }
  }
  .confetti-41 {
    width: 3px;
    height: 3.99px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 26%;
    opacity: 1.4767489427;
    transform: rotate(349.3913310842deg);
    animation: drop-41 4.6157892495s 0.1740061386s infinite;
  }
  @keyframes drop-41 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-42 {
    width: 4px;
    height: 5.32px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 88%;
    opacity: 0.8034704521;
    transform: rotate(223.5263724506deg);
    animation: drop-42 4.526630203s 0.370139155s infinite;
  }
  @keyframes drop-42 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  .confetti-43 {
    width: 2px;
    height: 2.66px;
    background-color: white;
    top: -10%;
    left: 97%;
    opacity: 0.733870108;
    transform: rotate(24.7256241548deg);
    animation: drop-43 4.7526368997s 0.503399291s infinite;
  }
  @keyframes drop-43 {
    100% {
      top: 110%;
      left: 102%;
    }
  }
  .confetti-44 {
    width: 5px;
    height: 6.65px;
    background-color: rgb(238, 226, 121);
    top: -10%;
    left: 43%;
    opacity: 1.1033690226;
    transform: rotate(288.7901557958deg);
    animation: drop-44 4.6146068324s 0.3528641511s infinite;
  }
  @keyframes drop-44 {
    100% {
      top: 110%;
      left: 47%;
    }
  }
  .confetti-45 {
    width: 7px;
    height: 9.31px;
    background-color: #445adb;
    top: -10%;
    left: 53%;
    opacity: 1.0953388192;
    transform: rotate(321.445287697deg);
    animation: drop-45 4.5581961805s 0.3304812009s infinite;
  }
  @keyframes drop-45 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  .confetti-46 {
    width: 8px;
    height: 10.64px;
    background-color: #445adb;
    top: -10%;
    left: 34%;
    opacity: 0.7701403053;
    transform: rotate(189.6814670191deg);
    animation: drop-46 4.3697566527s 0.4216023328s infinite;
  }
  @keyframes drop-46 {
    100% {
      top: 110%;
      left: 45%;
    }
  }
  .confetti-47 {
    width: 4px;
    height: 5.32px;
    background-color: white;
    top: -10%;
    left: 77%;
    opacity: 0.8767896831;
    transform: rotate(266.1600709295deg);
    animation: drop-47 4.9082885039s 0.7951716922s infinite;
  }
  @keyframes drop-47 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  .confetti-48 {
    width: 1px;
    height: 1.33px;
    background-color: white;
    top: -10%;
    left: 2%;
    opacity: 0.5597172863;
    transform: rotate(278.6874878679deg);
    animation: drop-48 4.0606509181s 0.7463708477s infinite;
  }
  @keyframes drop-48 {
    100% {
      top: 110%;
      left: 12%;
    }
  }
  .confetti-49 {
    width: 6px;
    height: 7.98px;
    background-color: #445adb;
    top: -10%;
    left: 79%;
    opacity: 1.3761543286;
    transform: rotate(323.0182349142deg);
    animation: drop-49 4.5258401052s 0.9303591908s infinite;
  }
  @keyframes drop-49 {
    100% {
      top: 110%;
      left: 94%;
    }
  }
  .confetti-50 {
    width: 8px;
    height: 10.64px;
    background-color: #3a3a3a;
    top: -10%;
    left: 84%;
    opacity: 0.7733932429;
    transform: rotate(33.5226341918deg);
    animation: drop-50 4.2791409592s 0.3578029288s infinite;
  }
  @keyframes drop-50 {
    100% {
      top: 110%;
      left: 89%;
    }
  }
}

/*# sourceMappingURL=global.css.map */
