@charset "UTF-8";
/* FONTS */
/* PADDING */
/* INTERACTION COLORS */
/* BREAKPOINTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
.intro-body {
  max-height: 100vh !important;
  min-height: -webkit-fill-available;
}

.side-accent {
  display: none;
}

.live > img {
  max-height: 25px;
  max-width: 25px;
}

#contact-links {
  width: 100%;
  animation: fadeInLeft 1.75s;
  animation-iteration-count: 1;
  height: 125px;
  padding-top: 22px;
}

.contact-body, .intro-body {
  max-height: 100vh !important;
  min-height: -webkit-fill-available;
}

.label {
  margin: 0 0.4em;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  white-space: nowrap;
}
.label-progress {
  font-size: 13px;
  background: #C2E0C6;
}
.label-progress::after {
  content: " ♨️";
}
.label-tech {
  font-size: calc(8.75px + 6 * (100vw - 320px) / 680);
  white-space: initial;
  margin: 0;
  color: black;
  background: #FFFCF9;
}

.socials-wrapper {
  padding: 16.366px 0 15px 0;
  text-align: center;
  animation: fadeInLeft 1.7s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: row;
  border: 0;
  max-width: 33vw;
  position: relative;
  z-index: 1;
  border: 0;
}
.socials-wrapper a {
  margin: 1% 50px 0 0;
}
.socials-wrapper a:hover {
  color: rgba(42, 42, 42, 0.6509803922);
}

.socials-icon {
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
  transition: 88ms linear;
  min-width: 20px;
  min-height: 20px;
  width: 4.66vw;
  height: 4.66vw;
  max-width: 32px;
  max-height: 32px;
  margin: 1% 25px 0 0;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
}
.socials-icon:hover {
  opacity: 0.55;
}

.intro {
  position: fixed;
  margin: 0 auto;
}

.title-bar {
  font-size: 42px;
  font-family: "Assistant", sans-serif;
  mix-blend-mode: exclusion;
}

.intro-content-wrapper--main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.intro {
  overflow: hidden;
  height: 100vh;
}
.intro-content-wrapper {
  animation: fadeIn 1s;
  animation-iteration-count: 1;
  opacity: 1;
  position: absolute;
  z-index: 5;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.intro-wrapper {
  display: flex;
  margin: 0 auto;
  width: 88%;
  height: -webkit-fill-available;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #0f0f0f;
}
.intro-wrapper div {
  position: relative;
}
.intro-wrapper h1 {
  margin: 0;
  padding: 0;
  cursor: default;
  font-size: 135%;
  min-width: 100%;
  line-height: 1.26;
  mix-blend-mode: exclusion;
  font-weight: normal;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 0.88em;
}
.intro-wrapper .name-span {
  padding: 0 0.3em;
  color: whitesmoke;
  background: #0f0f0f;
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
}

.intro-img-wrapper {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 50px;
  mix-blend-mode: exclusion;
  display: block;
  align-items: left;
  justify-content: flex-start;
}
.intro-img-wrapper img {
  margin: 0 auto;
  height: 40px !important;
  width: 433px;
}
.intro-img-wrapper img:hover {
  height: auto !important;
}

@media (min-width: 1024px) {
  .intro-content-wrapper--main {
    justify-content: start;
    flex-direction: row;
    align-items: center;
  }
  .intro-content-wrapper--main div {
    margin-right: 4vw;
  }
  .side-accent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.35vw;
    animation: fadeInBottom 1.5s;
    z-index: 1;
  }
  .side-accent img {
    width: 7.44vw;
    max-width: 475px;
    min-width: 88px;
  }
  .intro-img-wrapper img {
    height: 142px;
  }
  .title-bar {
    font-size: 47px;
    font-weight: 500;
    font-family: "Assistant", sans-serif;
    padding: 0.4em 0 0.55em 0;
    mix-blend-mode: exclusion;
    cursor: default;
  }
  .content-heading {
    margin: 0;
    padding: 0 auto;
  }
  .content-heading-wrapper {
    flex-direction: row;
    align-items: left;
  }
  .content-heading-wrapper--contact {
    flex-direction: column;
  }
  .content-subheading {
    margin: 0 0 0 5%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    text-align: left;
  }
  .content-subheading--contact {
    width: 90%;
    margin-left: 8%;
  }
  .content-subheading-wrapper {
    margin-left: 9%;
    text-align: left;
  }
  .content-subheading-wrapper--contact {
    width: 100%;
    margin-left: 0;
  }
  .socials-wrapper a {
    margin: 1% 50px 0 0;
  }
  .intro {
    overflow: hidden;
  }
  .intro-wrapper {
    width: 66%;
    max-width: 1500px;
  }
  .intro-wrapper h1 {
    font-size: 180%;
    width: 49%;
  }
}
@media (max-height: 600px) {
  .intro-content-2 {
    display: none;
  }
}

/*# sourceMappingURL=Home.module.css.map */
