/* LEGACY FONTS */
/* DEVELOPMENT FONTS */
/* FONTS */
/* PADDING */
/* COLORS */
/* BREAKPOINTS */
/* COMPONENTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
.icon {
  max-width: 30px;
  max-height: 30px;
  transition: 100ms linear;
}

.icon:hover {
  color: rgba(42, 42, 42, 0.6509803922);
}

.nav-icon {
  font-size: 20px;
}

.nav {
  z-index: 2;
  min-height: 59px;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  vertical-align: center;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}
.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav ul {
  filter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
  margin: 3% auto;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav .nav-caption--appear {
  display: none;
  opacity: 0;
  font-size: 13px;
  font-family: "Geist-Light-Mono", monospace;
  margin-left: 1em;
  margin-top: 1.366px;
  background: #212121;
  color: #FFFCF9;
  padding: 0.3em 0.6em;
  transform-origin: 0%;
}
.nav-logo img {
  max-width: 100%;
}
.nav-logo-wrapper {
  margin: 0 auto;
  width: 75px;
  text-align: center;
  display: none;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .nav-icon {
    font-size: 24px;
  }
  .nav-wrapper {
    height: 100%;
    width: 120px;
  }
  .nav {
    min-height: 300px;
    height: 46%;
    width: 120px;
    padding-left: 22px;
    position: fixed;
  }
  .nav-wrapper {
    position: relative;
  }
  .nav ul {
    height: 85%;
    width: 100%;
    flex-direction: column;
  }
  .nav ul li {
    display: inline-block;
  }
  .icon {
    display: flex;
    min-width: 200px;
    align-items: start;
  }
  .icon:hover > .nav-caption--appear {
    display: inline-block;
    opacity: 1;
  }
}

/*# sourceMappingURL=Nav.module.css.map */
