/* FONTS */
/* PADDING */
/* INTERACTION COLORS */
/* BREAKPOINTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
.spotify-now-playing-widget {
  border-radius: 2px;
  transform: translateZ(0);
  height: auto;
  min-height: 20px;
  font-size: calc(10px + 6 * (100vw - 320px) / 700);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
}
.spotify-now-playing-widget a {
  color: inherit;
  text-decoration: none;
}
.spotify-now-playing-widget .badge {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  overflow-x: hidden;
  transform: translateZ(0);
  max-width: none;
  border-radius: 2px;
  white-space: nowrap;
  font-family: "Source Code Pro", monospace;
  font-size: 16.5px;
  align-items: center;
  justify-content: center;
}
.spotify-now-playing-widget .badge-details {
  transform: translateZ(0);
  padding: 0;
  margin: 0;
  border-radius: 2px;
  animation-name: scroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  transform-origin: right;
  animation-timing-function: linear;
}
.spotify-now-playing-widget #track-info {
  width: auto;
  padding-right: 0.3em;
  margin-right: 0.3em;
}
.spotify-now-playing-widget #now-playing {
  color: white;
  padding-left: 0.75em;
}
.spotify-now-playing-widget #now-playing:span {
  margin-left: 0.5em;
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 1024px) {
  .spotify-now-playing-widget {
    font-size: 17px;
  }
  .spotify-now-playing-widget .badge {
    max-width: none;
    width: 100%;
    color: black;
  }
  .spotify-now-playing-widget #now-playing {
    color: white;
  }
}

/*# sourceMappingURL=SpotifyWidget.module.css.map */
