/* LEGACY FONTS */
/* DEVELOPMENT FONTS */
/* FONTS */
/* PADDING */
/* MARGIN */
/* COLORS */
/* BREAKPOINTS */
/* COMPONENTS */
/* GENERAL */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  60% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spin-right {
  animation: spin 6666ms linear infinite;
}

.rotate-z {
  animation: rotateZ 10000ms linear infinite;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(110%);
    opacity: 1;
  }
  90% {
    transform: translateX(-105%);
    opacity: 1;
  }
  100% {
    transform: translateX(-130%);
    opacity: 0;
  }
}
@keyframes spring {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  33% {
    opacity: 30%;
  }
  66% {
    opacity: 60%;
  }
  99% {
    opacity: 90%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-20%) scale(0.88);
    opacity: 0;
  }
  66% {
    transform: translateX(0) scale(0.88);
    opacity: 50%;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0) scale(1);
  }
  22% {
    background: rgba(0, 0, 255, 0.01);
  }
  100% {
    background: rgb(0, 255, 0);
    transform: translateY(-120vh) scale(0.44);
    opacity: 0.95;
  }
}
@keyframes bgFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rotateZ {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotateZ {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateZ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
.write-up-page-wrapper {
  margin-top: 7vh;
  padding: 22px 0.37em;
  width: 100vw;
}

.write-up-page {
  margin: 2.5px;
  border: 1px dashed rgba(12, 12, 12, 0.88);
  padding: 2.33px;
  width: 100%;
  background-color: #FFFCF9;
  filter: drop-shadow(3px 15px 24px 0px rgba(5, 5, 5, 0.366));
}
.write-up-page p {
  margin: 0.33em 0.37em;
  padding: 0.37em;
}
.write-up-page p span {
  font-family: "Geist-Bold-Mono", monospace;
  font-weight: bold;
}
.write-up-page a {
  color: #0186FF;
}
.write-up-page a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.write-up-page img {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.write-up--iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  flex-direction: column;
  max-width: 100%;
}

.write-up-header {
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-items: flex-start;
  background-color: #ef9a5e;
  padding: 0.88em;
}
.write-up-header h1 {
  font-size: xx-large;
  font-family: "Geist-Light-Mono", monospace;
  margin: 0.37em auto;
}
.write-up-header h2 {
  font-size: large;
  font-family: "Geist-Light-Mono", monospace;
  color: #494739;
}
.write-up-header--category {
  background-color: #212121;
  color: #FFFCF9;
  padding: 0 0.88em;
}
.write-up-header--category span {
  font-family: "Geist-SansSerif", sans-serif;
  font-size: 13px;
}
.write-up-header--back {
  font-size: 13px;
  margin: 0.37em 0;
}
.write-up-header--back a {
  color: inherit;
}

.write-up-coverimg {
  width: 100%;
  max-height: 500px;
  min-height: 300px;
  display: flex;
  align-items: center;
  margin: 1em 0;
  background-size: 100% 100%;
  background-position: "center";
  background-repeat: "no-repeat";
}

.write-up-img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.write-up-img--caption {
  font-size: 12px;
  color: #494739;
  font-style: italic;
  padding-top: 4px;
}

.write-up--footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.write-up--footer a {
  margin: 0.37em;
}

.content-wrapper {
  font-family: "Geist-Light-Mono", monospace;
}

@media (min-width: 1024px) {
  .write-up-page-wrapper {
    padding: 12px 116px;
  }
  .content-wrapper {
    margin: 0 auto;
    max-width: 66vw;
  }
  .write-up-page {
    padding: 66px;
    margin: 5px;
  }
  .write-up-page p {
    margin: 1em 0.37em;
    padding: 1em;
  }
  .write-up-header {
    min-height: 255px;
  }
  .write-up-header h1 {
    font-size: 45px;
  }
  .write-up-header h2 {
    font-size: larger;
  }
  .write-up-header--category {
    padding: 1.1em 0.88em;
  }
}

/*# sourceMappingURL=WriteUp.module.css.map */
