/* DISPLAY FONTS */
@font-face {
    font-family: 'Aukera-Display';
    src: url('/fonts/aukera.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AUSRINE-Display';
    src: url('/fonts/AUSRINE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Tiltortion-Display';
    src: url('/fonts/Tiltortion.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lithops-Display';
    src: url('/fonts/Lithops-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'Slinkee-Display';
    src: url('/fonts/Slinkee.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'Heritage-Display';
    src: url('/fonts/Heritage-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BARSTUKAI-Display';
    src: url('/fonts/BARSTUKAI-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'KUPOLE-Display';
    src: url('/fonts/KUPOLE-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'LaBorisette-Display';
    src: url('/fonts/LaBorisette-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fromages-Display';
    src: url('/fonts/4-Fromages-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Crozet-Display';
    src: url('/fonts/Crozet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Flowstate-Display';
    src: url('/fonts/flowstate.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  /* SANS-SERIF FONTS */
  @font-face {
    font-family: 'Amiamie-SansSerif';
    src: url('/fonts/Amiamie/Amiamie-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Amiamie-Light-SansSerif';
    src: url('/fonts/Amiamie/Amiamie-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Amiamie-Round-SansSerif';
    src: url('/fonts/Amiamie/Amiamie-RegularRound.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-SansSerif';
    src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Light-SansSerif';
    src: url('/fonts/Geist/Geist-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  /* MONOSPACE FONTS */
  @font-face {
    font-family: 'Basier-Mono';
    src: url('/fonts/BasierSquareMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


// Try 375, 400, 575, 625
  @font-face {
    font-family: 'Commit-Variable-Mono';
    src: url('/fonts/CommitMonoV143/CommitMono VariableFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Medium-Mono';
    src: url('/fonts/Geist.Mono/GeistMono-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Black-Mono';
    src: url('/fonts/Geist.Mono/GeistMono-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Semibold-Mono';
    src: url('/fonts/Geist.Mono/GeistMono-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Light-Mono';
    src: url('/fonts/Geist.Mono/GeistMono-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Regular-Mono';
    src: url('/fonts/Geist.Mono/GeistMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist-Variable-Mono';
    src: url('/fonts/Geist.Mono/GeistMonoVariableVF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Necto-Mono';
    src: url('/fonts/NectoMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silka-Mono';
    src: url('/fonts/silkamono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }