html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
$contentFontSize: 117%;
$contentFontSizeSm: 100%;
$paddingDefault: 22px;
$paddingContent: 11px;
$contentLineHeight: 1.3;
$btnBorderRadius: 120px;
$contentDropShadowDefault: drop-shadow(-5px -2.5px 12px rgba(0, 0, 0, 0.25));
$contentDropShadowLighter: drop-shadow(-5px -2.5px 12px rgba(154, 154, 154, 0.13));
$fontPrimary: 'Assistant', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$fontHeaders: "Source Code Pro", monospace;
$mixBlend1: exclusion;
$nightBg: #212121;
$defaultBg: #FFFCF9;
$gridItemBorderNight: #494739;
$gridItemBorder: #9a9e9b;
$gridBoxShadow: 2px 10px 16px 0px rgba(5, 5, 5, 0.25);
$gridBoxShadowLight: 3px 15px 24px 0px rgba(5, 5, 5, 0.366);
$slideColor1: #3a3a3a;
$slideColor2: linear-gradient(0.25turn, #BC0100, #90B2E6);
$slideColor3: rgb(238, 226, 121);
$slideColor4: #445adb;
$headerColor: transparent;
$headerColorAccent1: rgba(1,134,255, 0.66);
$headerColorAccent2: rgba(240,177,9,0.66);
$headerColorAccent3: rgba(14,104,152, 0.66);
$bodyTextColor: #2b2b2b;
$subtleBlack: rgba(12, 12, 12, 0.88);
$linksColor: #0186FF;

* {
    box-sizing: border-box;
  }

.art-div1, .art-div2 {
    cursor: pointer;
}
.art-caption {
    font-size: 12px;
    color: $gridItemBorderNight;
    font-style: italic;
    padding-top: 4px;
}

.grid, .bio-container--image {
    animation: fadeIn 0.55s;
    animation-iteration-count: 1;
}
.side-accent {
    display: none;
}
.spotify-now-playing-widget {
    border-radius: 2px;
    transform: translateZ(0);
    height: 4.66vw;
    max-height: 33px;
    min-height: 20px;
    font-size: calc(10px + 6 * ((100vw - 320px) / 700));
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
    a {
        color: inherit;
        text-decoration: none;
    }
    .badge {
        padding: 0;
        margin: 0;
        width: 100%;
        transform: translateZ(0);
        max-width: none;
        border-radius: 2px;
        white-space: nowrap;
        overflow: hidden;
        font-family: $fontHeaders;
        font-size: 16.5px;
    }
    .badge-details {
        background: $slideColor2;
        transform: translateZ(0);
        padding: 0;
        margin: 0;
        border-radius: 2px;
        animation-name: scroll;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        transform-origin: right;
        animation-timing-function: linear;

    }
    #track-info {
        width: auto;
        padding-right: 0.3em;
        margin-right: 0.3em;
    }
    #now-playing  {
        color: white;
        padding-left: 0.75em;
        &:span {
            margin-left: 0.5em
        }
    }
}

.live > img {
    max-height: 25px;
    max-width: 25px;
}
#contact-links {
    width: 100%;
    animation: fadeInLeft 1.75s;
    animation-iteration-count: 1;
    height: 125px;
    padding-top: $paddingDefault;
}

body {
    font-family: sans-serif;
    margin: 0;
    background: $defaultBg;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}
.blur-bg {
    position: fixed;
    top:0;
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
    background: rgba(255,252,249,.80);
    z-index:-1;
    backdrop-filter: blur(20px);
}

.contact-body, .intro-body {
    max-height: 100vh !important;
    min-height: -webkit-fill-available;
}

.label {
    margin: 0 0.4em;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    white-space: nowrap;
    &-progress{
        font-size: 13px;
        background: #C2E0C6;
        &::after{
            content: " ♨️"
        }
    }
    &-tech{
        font-size: calc(8.75px + 6 * ((100vw - 320px) / 680));
        white-space: initial;
        margin: 0;
        color: black;
        background: $defaultBg
    }
}
.particles {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.93;
    max-height: 100%;
    z-index: 0;
    transform: translateZ(0);
    margin: 0 auto;

    li {
        max-width: 77px;
        max-height: 77px;
        position: absolute;
        list-style: none;
        display: block;
        background: transparent;
        bottom: -100px;
        animation: bubbles 1s infinite;
        transition-timing-function: linear;
        //border-radius: 14px;
        border: 1px dotted rgb(230, 230, 230);
        display: flex;
        align-items: center;
        justify-content: center;
        //mix-blend-mode: multiply;
        img {
            padding: 7px;
            position: relative;
            z-index: -2 !important;
            max-width: 100%;
            transition: 120ms ease-in;
            filter: $contentDropShadowLighter;
            &:hover {
                transform: scale(1.33);
            }
        }
    }
}


.socials {
    &-wrapper {
        animation: fadeInLeft 1.7s;
        animation-iteration-count: 1;
        //background: blue;
        display: flex;
        flex-direction: row;
        border: 0;
        max-width: 33vw;
        position: relative;
        z-index: 1;
        border: 0;
        //background: blue;
    }
}

.socials-icon {
    filter: $contentDropShadowLighter;
    transition: 88ms linear;
    min-width:20px;
    min-height: 20px;
    width: 4.66vw;
    height: 4.66vw;
    max-width: 32px;
    max-height: 32px;
    margin: 1% 25px 0 0;
    border: 0;
    border-radius: 100%;;
    cursor: pointer;
    &:hover {
        opacity: 0.55;
    }
}
.works {
    overflow: auto;
    max-height: none;
}




main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.intro {
    position: fixed;
    margin: 0 auto;
}

.title-bar {
    font-size: 42px;
    font-family: $fontPrimary;
    padding: 0.17em 0 0.55em 0;
    mix-blend-mode: $mixBlend1;
}

header {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10.75%;
    padding: $paddingDefault;
    min-height: 20vh;
    flex-shrink: 0;
    align-items: center;
}

section {
    animation: fadeIn 0.66s;
    animation-iteration-count: 1;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &[aria-label="content-header"] {
        margin-top: 10.75%;
        display: flex;
        flex-direction: column;
        padding: $paddingDefault;
        min-height: 20vh;
        flex-shrink: 0;
       
    }
    &[aria-label="content"] {
        overflow-x: hidden;
        flex-basis: 60vh;
        flex: 1;
    }
}



.content {
    &-heading {
        font-family: $fontSecondary;
        font-weight: 900;
        margin-bottom: 0;
        font-size: 350%;
        -webkit-text-stroke-width: 1.66px;
        letter-spacing: 1.35px;
        color: $headerColor;
        &--work {
            -webkit-text-stroke-color: $headerColorAccent1;
            filter: drop-shadow(0.5px 0.5px 100px $headerColorAccent1);
        }
        &--bio {
            -webkit-text-stroke-color: $headerColorAccent2;
            filter: drop-shadow(0.5px 0.5px 100px $headerColorAccent2);
        }
        &--contact {
            -webkit-text-stroke-color: $headerColorAccent3;
            filter: drop-shadow(0.5px 0.5px 100px $headerColorAccent3);
        }
        &-wrapper {
            animation: fadeInLeft 0.88s;
            animation-iteration-count: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
    &-subheading {
        font-family: $fontHeaders;
        font-size: 20px;
        font-weight: 500;
        width: 75%;
        filter: $contentDropShadowDefault;
        &-wrapper {
            height: auto;
            padding: 1.5vh 0;
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center; 
            justify-content: center;
        }
        &--contact {
            width: 100%;
            text-align: left;
            margin-left: 5%;
        }
    }
}


.carousel {
    display:none;
    width: 100%;
    text-align: center;
    h3 {
        font-family: $fontSecondary;
        margin: 1.5% 0;
        font-size: 1.15em;
        font-weight: normal;
    }
}

.slide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    cursor: pointer;
    padding: $paddingDefault;
    &-bg {
        &--color1{
            background: $slideColor1;
            color: #fcfcfc;
        }
        &--color2{
            background: $slideColor2
        }
        &--color3{
            background: $slideColor3
        }
        &--color4{
            background: $slideColor4
        }
    }
    &:hover {
        opacity: 0.95;
    }
    .links-wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
        padding: 1%;
        .live, .repo {
            margin: 0 10%;
            color: white;
            font-weight: bolder;
            &:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }
}

.slide-content {
    &-container {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        
    }
    &-wrapper {
        text-align: left;
        
        .header {
            color: black;
            font-family: $fontPrimary;
            width: 80%;
            font-size: 175%;
            font-weight: bold; 
            text-decoration: underline;
            margin: 10px 0;
        }
        .caption {
            width: 95%;
            font-size: 80%;
            margin: 5px 0 0 0;
            font-weight: normal;
        }
        .details{
            font-style: italic;
            font-size: 80%;
            margin: 25px 0 0 0;
        } 
    }  
}

.slide-img {
    border-radius: 20px;
    text-align: center;
    max-width: 100%;
    filter: $contentDropShadowDefault; 

    &-container {
        width: 100%;
        margin: 8.5% 0;
        position: relative;
    }

    &-wrapper{
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
    }

}

.img-mask {
    //border-radius: 10px;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    position: absolute;
    opacity: 0.9;
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.92));
}


.grid {
    padding: $paddingContent;
    position: relative;
    display:flex;
    flex-direction: column;
    height: 100%;
    
    &-wrapper {
        margin: 2% auto 2.5vh auto;
        min-width: 100%;
    }
    &-item {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.92));
        transition: 100ms ease;
        height: 100%;
        min-height: 480px;
        justify-content: center;
        transition: 100ms ease-in-out;
        align-items: center;
        display: flex;
        position: relative;
        min-width: 100%;
        margin: 3.66% auto;
        flex-direction: column;
        //border-radius: 10px;
        overflow: hidden;
        box-shadow: $gridBoxShadow;
        border: 2px solid $gridItemBorder;
     
        &:hover  {

            transform: scale(1.03);
            cursor: pointer;
            box-shadow: 3px 15px 24px 0px rgba(5, 5, 5, 0.366);
            //box-shadow: 5px 5px 0px 1px #efefef, 12px 12px 0px 2px rgba(12, 12, 12, 1), 15px 15px 0px 5px rgba(239, 239, 239, 1), 20px 20px 40px 0px rgba(5, 5, 5, 1);
       
        }
        
        &-container {

            //border: 2px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            //border-radius: 10px;
            overflow: hidden;

     
            //border-radius: 20px;
        }
        .info-wrapper {
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
   
            .header-wrapper { 
                position: absolute;
                width: 100%;
                top: -5.1rem;
                white-space: nowrap;
                h3 {
                    margin: 8px auto;
                    padding: 0 2%;
                    font-size: 175%;
                    font-family: $fontPrimary;
                    color: white;
                    font-weight: normal;
                    //-webkit-text-stroke-width: 0.33px;
                    //-webkit-text-stroke-color: white;
                }
                .details {
                    display: inline-block;
                    margin: 0 0 0 2%;
                    padding: 2px 2.66px;
                    width: auto;
                    text-align: left;
                    //font-size: 11.33px;
                    color: #0f0f0f;
                    letter-spacing: initial;
                    //text-transform: uppercase;
                    background: rgba(255,255,255, 0.67);
                    font-family: $fontSecondary;
                    filter: $contentDropShadowDefault;
                    //border-radius: 10px;
                }
            }
          
        }
        .description {
            &-container {
                width: 100%;
                //border: 2px solid blue;
            }

            &-wrapper{
            font-size: 95%;
            display: flex;
            flex-direction: column;
            //background: red;
            max-height: 100%;
            height: 100%;
            justify-content: space-between;
            padding: 1% 2% 4% 2%;
            font-weight: 400;
            text-align: center;
            min-width: 100%;
            word-wrap: break-word;
            font-family: $fontSecondary;
            background: rgba(12, 12, 12, 0.88);
            line-height: 1.66;
            align-items: center;
            justify-content: center;
   
            p{  
                width: 100%;
                margin: 0 auto;
                color: white;
                //background: rgba(12, 12, 12, 0.88);
                margin: 5px auto;
                text-align: left;

            }
           
        }
    }

        img {

            max-width: 100%;
            min-width: 100%;
            height: 100%;
            max-height: 63vh;
            min-height: 480px;
            object-fit:cover;
            opacity: 1;
        }


        
        
    }
}

.blank-work {
    display: none;
}

.grid-contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
        max-width: 66%;
        font-size: $contentFontSize;
        font-family: $fontHeaders
    }
}

.grid-contact-link {
    text-decoration: none;
    color: inherit
}

.links-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1.75%;
    a {
        text-decoration: none;
    }
    .live, .repo {
        margin: 0 10%;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
    &--grid {
        width: 85%;
        .live, .repo {
            width: 40px;
            font-size: 90%;
            transition: 70ms linear;
            color: lightblue;
            filter: $contentDropShadowDefault;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            &:hover{
                //box-shadow: 0px 0px 0px 0.5px $subtleBlack, 0px 0px 0px 2px rgba(255, 255, 255, 0.92);
                background: rgba(255,255,255, 0.92);
                color: black;
                text-decoration: none;
                animation: bgFlicker 888ms linear 1;
           
            }
        }
    }
    &--slide {
        width: 100%;
        .live, .repo {
            color: white;
        }
    }
    &--contact {
        padding: $paddingDefault;
        font-size: 88%;
        .live, .repo {
            font-family: $fontPrimary;
            font-weight: bold;
            color: black;
            margin: 8% 5%; 
            &:hover {
                color: $slideColor3;
            }
        }
    }
}

.intro {
    overflow: hidden;
    height: 100vh;
    &-content-wrapper {
        animation: fadeIn 1s;
        animation-iteration-count: 1;
        opacity: 1;
        position: absolute;
        z-index: 5;
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    &-wrapper {
        display: flex;
        margin: 0 auto;
        width: 88%;
        height: -webkit-fill-available;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #0f0f0f;
        div {
            position: relative;
        }
        h1 {
            margin: 0;
            padding: 0;
            cursor: default;
            font-size: 135%;
            min-width: 100%;
            line-height: 1.26;
            mix-blend-mode: $mixBlend1;
            font-weight: normal;
            font-family: $fontHeaders;
            margin-bottom: 0.88em;
        }
        .name-span {
            padding: 0 0.3em;
            color: whitesmoke;
            background: #0f0f0f;
            filter: $contentDropShadowLighter;
        }
    }
}


.intro-img-wrapper {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    mix-blend-mode: $mixBlend1;
    display: block;
    align-items: left;
    justify-content: flex-start;
    img{
        margin: 0 auto;
        height: 40px !important;
        width: 433px;
        &:hover {
            height: auto !important;
        }
    }
}

footer {
    display: none;
    min-height: 95px;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    flex-shrink: 0;
}

.cta-wrapper {   
    display: none;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    &--fixed {
        margin: 0;
        padding: 0;
        position: fixed;
        right: 1.75vw;
        bottom: 1.25vw;
        z-index: 1;
    }
}
  
.contact-img {
    transition: 100ms ease;
    border-radius: 100%;
    border: 3px solid transparent;
    filter: $contentDropShadowLighter;
        cursor: pointer;
    &--wrapper {
        img {
            height: 12vw;
            width: 12vw;
            max-height: 50px;
            max-width: 50px;
        }
    }
    &:hover {
        transform: scale(1.066);
    }
}



.bio {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: $paddingDefault; 
       
        
        &--image {
            min-width: 150px;
            width: 53%;
            max-width: 190px;
            margin: 0 auto;
            img {
                //border-radius: 100%;
                max-width: 100%;
                //border: 2px solid  #0f0f0f;
                -webkit-filter: drop-shadow(5px 5px 5px #e6e6e6);
               
            }    
        }
    }
    &-wrapper {
        margin: 0.75% auto;
        p {
            color: $bodyTextColor;
            font-family: $fontSecondary;
            letter-spacing: 0.025em;
            width: 88%;  
            max-width: 1650px;
            font-size: 120%;
        }
    }
}
.interests{
    a {
        color: $linksColor;
    }
    ul {
        line-height: 1.5em;
    }
}


.contact {    
    &-img-wrapper{
        width: 44px;
        img {
            max-width: 100%;
        }
    }
    &-wrapper {
        z-index: 2;
        width: 100%;
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 22px;
        ::placeholder {
            color: rgb(155, 155, 155);
        }
        label {
            display: none;
        }
    
        input {
            padding: 15px;
            border: 0;
            background: #e6e6e6;
            min-width: 70px;
            font-size: $contentFontSizeSm;
            height: 40px;
            margin-bottom: 22px;
            font-family: $fontSecondary;
      
            &[name="name"] {
                flex-basis: 20.66%;
                flex-grow: 2;
                margin-right: 5px;
            }
            &[name="email"]{
                flex-basis: 60%;
            }
            &[name="topic"] {
                width: 100%;
            }
            &[type="submit"] {
                -webkit-appearance: none;
                filter: $contentDropShadowLighter;
                font-family: $fontHeaders;
                transition: 100ms linear;
                color: white;
                box-shadow: none;
                border: 0;
                padding: 0;
                background: #0f0f0f;
                margin: 5% auto 0;
                width: 150px;
                border-radius: $btnBorderRadius;
                cursor: pointer;
                &:hover{ 
                    background:$slideColor2;
                } 
            }
        }
        textarea {
            border: 0;
            background: #e6e6e6;
            text-align: left;
            padding: 15px;
            width: 100%;
            height: 17vh;
            max-height: 400px;
            font-size: $contentFontSizeSm;
            font-family: $fontSecondary;
        }
    }
}

.form-heading {
    display: none;
}
.globe {
    display: none;
    padding: 7%;
    margin-left: -8vw;
    &-wrapper {
        min-width: 60%;
        max-width: 60%;
        position: fixed;
        min-height: 100vh;
        max-height: 100vh;
        opacity: 0.66;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
  
        //overflow: hidden;
        
        img {
            object-fit: cover;
            border-radius: 100%; 
            position: absolute;
            width: 62vw;
            max-width: 888px;
            min-width: 420px;
            filter: $contentDropShadowLighter;
        }
    }
}


.spin-right {
    animation: spin 6666ms linear infinite;
}

.rotate-z{
    animation: rotateZ 10000ms linear infinite; 
}


@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes scroll {
    0% {  
        transform: translateX(110%);
        opacity: 1;    }
    90% {  
        transform: translateX(-105%);
        opacity: 1;
    }
    100% {  
        transform: translateX(-130%);
        opacity: 0;
    }
}

@keyframes spring{
    0%{
        transform: rotate(90deg);
        opacity: 0;  
    }
    33% {
        opacity: 30%
    }
    66%{
        opacity: 60%;
    }
    99%{ 
        opacity: 90%;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1

    }
}

@keyframes slide {
    0%{
        transform: translateX(-20%) scale(0.88);
        opacity: 0;
    }
    66% {
        transform: translateX(0) scale(0.88);
        opacity: 50%;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}
@keyframes bubbles {
    0% {
        transform: translateY(0) scale(1);
    }
    22% {
        background: rgba(0,0,255,0.01);
    }
    100% {
        background: rgba(0,255,0,1);
        transform: translateY(-120vh) scale(0.44);
        opacity: 0.95;
    }
}

@keyframes bgFlicker {
    0% {
        opacity:1;
    }
    50% {
        opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
        opacity:1;
    }
}


@-ms-keyframes rotateZ { 
    from { 
        -ms-transform: rotateZ(0deg); 
    } to { 
        -ms-transform: rotateZ(360deg); 
    }
}
@-moz-keyframes rotateZ { 
    from { 
        -moz-transform: rotateZ(0deg); 
    } to { 
        -moz-transform: rotateZ(360deg); 
    }
}
@-webkit-keyframes rotateZ { 
    from { 
        -webkit-transform: rotateZ(0deg); 
    } to { 
        -webkit-transform: rotateZ(360deg); 
    }
}
@keyframes rotateZ { 
    from { 
        transform: rotateZ(0deg); 
    } to { 
        transform: rotateZ(360deg); 
    }
}


@keyframes fadeIn {
    from { 
        opacity: 0; 
    } to { 
        opacity: 1; 
    }
}


@keyframes fadeInLeft {
    0% { 
        opacity: 0; 
        transform: translateX(50px)
    } 
    60% {
        opacity: 0;
        transform: translateX(7px)
    }
    100% { 
        opacity: 1; 
        transform: translateX(0px)
        
    }
}

@keyframes fadeInBottom {
    0% { 
        opacity: 0; 
        transform: translateY(-18px)
    } 
    60% {
        opacity: 0;
        transform: translateY(-6px)
    }
    100% { 
        opacity: 1; 
        transform: translateY(0px)
        
    }
}

@media  (min-width: 1024px) {
    .spotify-now-playing-widget {
        font-size: 17px;
        .badge {
            max-width: none;
            width: 100%;
            color: black;
        }
        .badge-details{
            //background: transparent;
        }
        #now-playing {
            color: white
        }
    }

.side-accent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.35vw;
    animation: fadeInBottom 1.5s;
    z-index: 1;
    img {
        width: 7.44vw;
        max-width: 475px;
        min-width: 88px;
    }
}
.intro-img-wrapper {
    img{
        height: 142px;
    }
    
}

    .title-bar {
        font-size: 47px;
        font-weight: 500;
        font-family: $fontPrimary;
        padding: 0.4em 0 0.55em 0;
        mix-blend-mode: $mixBlend1;
        cursor: default;

    }
   
    .blur-bg {
        display: none;
    }


    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    body {
        flex-direction: row;
    }

 
    header {
            cursor: default;
            margin: 0 5%;
            flex-direction: row;
            padding-top: 75px;
            align-items: left;
            height: 95px;
            max-width: 580px;
            min-width: 480px;
            width: 60%;   
    }
    section {
  
        margin: 0 5%;
        flex-direction: row;
        //padding: 1%;
        &[aria-label="content-header"] {
            margin-top: 0;
            padding-top: 75px;
            align-items: left;
            height: 95px;
            max-width: 580px;
            min-width: 480px;
            width: 60%;   
        }
        &[aria-label="content"] {
            flex-wrap: wrap;
            width: 100%;
            display:block;
            overflow: visible;
        }
    }

    .bio, .contact {
        > div { 
            margin-top: 7vh;
            position: absolute;
        }
    }
    .contact {
        position: absolute;
        top: 25%;
    }
  

    .content {
        &-heading {
            margin: 0;
            padding: 0 auto;

          &-wrapper {
       
              flex-direction: row;
              align-items: left;
              &--contact{
                flex-direction: column; 
              }
          }
        }
        &-subheading {
            margin: 0 0 0 5%;
            width: 100%;
            padding: 0 auto;
            margin: 0 auto;
            text-align: left;
            
            &--contact {
                width: 90%;
                margin-left: 8%;
            }
            &-wrapper {
                margin-left: 9%;
                text-align: left;
                &--contact{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

    .carousel {
        padding: $paddingDefault;
        width: 100%;
    }
    .slide {
        border-radius: 20px;
        //border: 1.2px solid black;
        filter: $contentDropShadowLighter;
    }

    .blank-work {
        border: 2px dashed grey;
        background: transparent;
        display: block;
        border-radius: 2px;
        color: $bodyTextColor;
        box-shadow: none;
    }
    .blank-work:hover {
        border: none;
        background-image:url('/img/cloud_img.jpeg');
        color: #67A8DC;
        p {

            background: black;
        }
        [class|="confetti"]{
            display: block
        }
    }
    [class|="confetti"] {
        position: absolute;
        display: none;
    }
    
    .label-tech {
        font-size: 12px;
    }
    $colors: ($slideColor3,$slideColor4, $slideColor1, white);
    
    @for $i from 0 through 50 {
        $w: random(8);
        $l: random(100);
        .confetti-#{$i} {
        width: #{$w}px;
        height: #{$w*1.33}px;
        background-color: nth($colors, random(4));
        top: -10%;
        left: unquote($l+"%");
        opacity: random() + 0.5;
        transform: rotate(#{random()*360}deg);
        animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
        }
    
        @keyframes drop-#{$i} {
        100% {
            top: 110%;
            left: unquote($l+random(15)+"%");
        }
        }
    }


    .grid {
        display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-auto-flow: dense;
        grid-gap: 2.5%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(5, minmax(200px, auto));   
        .description-wrapper {
            min-width: 100%;
            font-size: 80%;
            h3 {
                font-size: 20px;
            }
        }
        &-wrapper {
            height: auto;
            margin: 2% auto;
            padding: $paddingDefault;
        }
        &-item {
            min-width: 100%;
            margin: 0 auto;
            &--10 {grid-area: 1 / 3 / 3 / 4; }
            &--9  {grid-area: 1 / 1 / 3 / 3; }
            &--8  { grid-area: 3 / 1 / 5 / 2; }
            &--7  { grid-area: 3 / 2 / 5 / 4; }
            &--6  { grid-area: 5 / 3 / 7 / 4; }
            &--5 { grid-area: 5 / 1 / 7 / 3; }
            &--4 { grid-area: 7 / 1 / 9 / 2;}
            &--3 { grid-area: 7 / 2 / 9 / 4; }
            &--2  { grid-area: 9 / 3 / 11 / 4;}
            &--1 { grid-area: 9 / 1 / 11 / 3; }

        }
        img {
            max-height: 46.66vh;
        }
        .details{
            padding: 2px 8px !important;
            letter-spacing: 1px;
        }
       

    }

    .globe {
        display: block;
        opacity: 0.88;
       

    }
  
.bio {
    height: 100%;
    &-container { 
        &--image {
            margin: 0;
            border: 0;
            padding: 0;
            border: 0;
            img {
                max-width: 100%;
            }
        }
    }
    &-wrapper {
        p {
            font-size: 120%;
            line-height: $contentLineHeight;
            width: 33%;  
        }
    }
    
}

.socials {
    &-wrapper {
        img {      
            margin: 1% 50px 0 0;
        }
    }
}
.contact {
    width: 40%;
    &-wrapper {
        height: 100%;
        width: 100%;
    }
    &-form {
        padding: 0;
        margin: 0 0 0 5%;
    }
  }

.form-heading {
    display: block
}

.intro {

    overflow: hidden;
    &-wrapper {
        width: 66%;
        max-width: 1500px;
        h1 {
            font-size: 180%;
            width: 49%;
          
        
        }
    }
}
}
  
@media (min-width: 2300px) {
    .grid {
        grid-auto-rows: minmax(230px, auto);
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
        grid-template-rows: repeat(5, minmax(230px, auto));
        .description-wrapper {
            min-width: 100%;
            font-size: 92%;
            h3 {
                font-size: 27.5px;
            }
        }
        .header-wrapper{
            .details {
                font-size: 12.33px !important;
            }
        }
      
        &-wrapper {
            margin: 2% auto;

       
        }
        &-item {
            min-height: 550px;
            max-height: 550px;
            min-width: 100%;
            margin: 0 auto;        
            &--10 {grid-area: 1 / 3 / 3 / 4; }
            &--9  {grid-area: 1 / 1 / 3 / 3; }
            &--8  { grid-area: 3 / 1 / 5 / 2; }
            &--7  { grid-area: 3 / 2 / 5 / 4; }
            &--6  { grid-area: 5 / 3 / 7 / 4; }
            &--5 { grid-area: 5 / 1 / 7 / 3; }
            &--4 { grid-area: 7 / 1 / 9 / 2;}
            &--3 { grid-area: 7 / 2 / 9 / 4; }
            &--2  { grid-area: 9 / 3 / 11 / 4;}
            &--1 { grid-area: 9 / 1 / 11 / 3; }
         
        }
        img {
            max-height: none;
        }
       
    }
}

@media (max-height: 600px){ 
    .intro-content-2 {
        display: none;
    }
}
