@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

/* NATIVE STYLES */
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

* {
    box-sizing: border-box;
  }

body {
    font-family: sans-serif;
    margin: 0;
    background: $defaultBg;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

header {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10.75%;
    padding: $paddingDefault;
    min-height: 20vh;
    flex-shrink: 0;
    align-items: center;
}

section {
    animation: fadeIn 0.66s;
    animation-iteration-count: 1;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &[aria-label="content-header"] {
        margin-top: 10.75%;
        display: flex;
        flex-direction: column;
        padding: $paddingDefault;
        min-height: 20vh;
        flex-shrink: 0;
       
    }
    &[aria-label="content"] {
        overflow-x: hidden;
        flex-basis: 60vh;
        flex: 1;
    }
}
footer {
  display: none;
  min-height: 95px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0;
}


@media  (min-width: 1024px) {  
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    body {
        flex-direction: row;
    }
    header {
            cursor: default;
            margin: 0 5%;
            flex-direction: row;
            padding-top: 75px;
            align-items: left;
            height: 95px;
            max-width: 580px;
            min-width: 480px;
            width: 60%;   
    }
    section {
        margin: 0 5%;
        flex-direction: row;
        //padding: 1%;
        &[aria-label="content-header"] {
            margin-top: 0;
            padding-top: 75px;
            align-items: left;
            height: 95px;
            max-width: 580px;
            min-width: 480px;
            width: 60%;   
        }
        &[aria-label="content"] {
            flex-wrap: wrap;
            width: 100%;
            display:block;
            overflow: visible;
        }
    }

}
 