@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

.intro-body {
    max-height: 100vh !important;
    min-height: -webkit-fill-available;
}

.side-accent {
    display: none;
}

.live > img {
    max-height: 25px;
    max-width: 25px;
}
#contact-links {
    width: 100%;
    animation: fadeInLeft 1.75s;
    animation-iteration-count: 1;
    height: 125px;
    padding-top: $paddingDefault;
}

.contact-body, .intro-body {
    max-height: 100vh !important;
    min-height: -webkit-fill-available;
}

.label {
    margin: 0 0.4em;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    white-space: nowrap;
    &-progress{
        font-size: 13px;
        background: #C2E0C6;
        &::after{
            content: " ♨️"
        }
    }
    &-tech{
        font-size: calc(8.75px + 6 * ((100vw - 320px) / 680));
        white-space: initial;
        margin: 0;
        color: black;
        background: $defaultBg
    }
}

.socials {
    &-wrapper {
        padding: $subtleTextPadding + $offset 0 $subtleTextPadding 0;
        text-align: center;
        animation: fadeInLeft 1.7s;
        animation-iteration-count: 1;
        display: flex;
        flex-direction: row;
        border: 0;
        max-width: 33vw;
        position: relative;
        z-index: 1;
        border: 0;
        a {
            margin: 1% 50px 0 0;
        }
        a:hover {
            color: $textHoverColor
        }
    }
}

.socials-icon {
    filter: $contentDropShadowLighter;
    transition: 88ms linear;
    min-width:20px;
    min-height: 20px;
    width: 4.66vw;
    height: 4.66vw;
    max-width: 32px;
    max-height: 32px;
    margin: 1% 25px 0 0;
    border: 0;
    border-radius: 100%;;
    cursor: pointer;
    &:hover {
        opacity: 0.55;
    }
}

.intro {
    position: fixed;
    margin: 0 auto;
}

.title-bar {
    font-size: 43px;
    font-family: $fontDisplayFlowState;
    mix-blend-mode: $mixBlend1;
    text-shadow: -0.66px 2.66px 2.33px $subtleBlack;
}



.intro-content-wrapper--main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}


.intro {
    overflow: hidden;
    height: 100vh;
    &-content-wrapper {
        animation: fadeIn 1s;
        animation-iteration-count: 1;
        opacity: 1;
        position: absolute;
        z-index: 5;
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    &-wrapper {
        display: flex;
        margin: 0 auto;
        width: 88%;
        height: -webkit-fill-available;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #0f0f0f;
        div {
            position: relative;
        }
        h1 {
            margin: 0;
            padding: 0;
            cursor: default;
            font-size: 135%;
            min-width: 100%;
            line-height: 1.26;
            mix-blend-mode: $mixBlend1;
            font-weight: normal;
            font-family: $fontHeaders;
            margin-bottom: 0.88em;
        }
        .name-span {
            padding: 0 0.3em;
            color: $defaultBg;
            background: $nightBg;
            filter: $contentDropShadowLighter;
        }
    }
}


.intro-img-wrapper {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    mix-blend-mode: $mixBlend1;
    display: block;
    align-items: left;
    justify-content: flex-start;
    img{
        margin: 0 auto;
        height: 40px !important;
        width: 433px;
        &:hover {
            height: auto !important;
        }
    }
}


@media  (min-width: $lgBreakPoint) {

    .intro-content-wrapper--main {
        justify-content: start;
        flex-direction: row;
        align-items: center;
        div {
            margin-right: 4vw
        }
    }
    
.side-accent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.35vw;
    animation: fadeInBottom 1.5s;
    z-index: 1;
    img {
        width: 7.44vw;
        max-width: 475px;
        min-width: 88px;
    }
}
.intro-img-wrapper {
    img{
        height: 142px;
    }
    
}

    .title-bar {
        font-size: 46.75px;
        font-weight: 500;
        padding: 0.4em 0 0.41em 0;
        mix-blend-mode: $mixBlend1;
        cursor: default;
    }
   
    .content {
        &-heading {
            margin: 0;
            padding: 0 auto;

          &-wrapper {
       
              flex-direction: row;
              align-items: left;
              &--contact{
                flex-direction: column; 
              }
          }
        }
        &-subheading {
            margin: 0 0 0 5%;
            width: 100%;
            padding: 0 auto;
            margin: 0 auto;
            text-align: left;
            
            &--contact {
                width: 90%;
                margin-left: 8%;
            }
            &-wrapper {
                margin-left: 9%;
                text-align: left;
                &--contact{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
  

.socials {
    &-wrapper {
        a {      
            margin: 1% 50px 0 0;
        }
    }
}

.intro {

    overflow: hidden;
    &-wrapper {
        width: 66%;
        max-width: 1500px;
        h1 {
            font-size: 177.2%;
            width: 49%;
          
        
        }
    }
}
}
 
@media (max-height: 600px){ 
    .intro-content-2 {
        display: none;
    }
}
