@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

.icon {
    max-width: 30px;
    max-height: 30px;
    transition: 100ms linear;

}     
.icon:hover {
    color: $textHoverColor;
}

    .nav-icon {
        font-size: 20px; 
    }

.nav {
    z-index: 2;
    min-height: 59px;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    vertical-align: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul {
        filter: $contentDropShadowLighter;
        margin: 3% auto;
        padding: 0;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: start;
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
    }
    
    .nav-caption {
        display: none;
        opacity: 0;
        font-size: $fontSizeDefault;
        font-family: $fontNav;
        margin-left: 1em;
        margin-top:  $offset;
        // position: absolute;
        // left: 92.5px;
        background: $nightBg;
        color: $defaultBg;
        padding: 0.3em 0.6em;
        transform-origin: 0%;
      
    }
    .bio {
        font-family: $fontNav;
    }
    .projects {
        font-family: $fontNav;
    }
    .media {
        font-family: $fontDisplayFromages;
    }

    &-logo {
        img {
            max-width: 100%;
        }
        &-wrapper {
            margin: 0 auto;
            width: 75px;
            text-align: center;
            display: none;
            overflow: hidden;
       
        }
    }
}


@media  (min-width: $lgBreakPoint) {
    .nav-icon {
        font-size: 24px;
    } 

    .nav-wrapper {
        height: 100%;
        width: 120px;
    }
    .nav {
        min-height: 300px;
        height: 46%;
        width: 120px;
        padding-left: $paddingDefault;
        position: fixed;
       &-wrapper {
           position: relative;
       }
        ul {
            height: 85%;
            width: 100%;
            flex-direction: column;
            li {
            display: inline-block;
        
        }
        }
    }
    .icon {
        display: flex;
        min-width: 200px;
        align-items: start;
    }
    .icon:hover {
        > .nav-caption {
            display: inline-block;
            // animation: spring 225ms;
            // animation-iteration-count: 1;
            opacity: 1;

        }
    }

}

