@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

.works {
    overflow: auto;
    max-height: none;
}

.projects {
    width: 100vw;
    // outline: 1px solid blue;
}