@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

.spotify-now-playing-widget {
    border-radius: 2px;
    transform: translateZ(0);
    height: auto;
    max-width: 500px;
    min-height: 20px;
    font-size: calc(10px + 6 * ((100vw - 320px) / 700));

    a {
        color: inherit;
        text-decoration: none;
        align-items: start;
        flex-wrap: nowrap;
        justify-content: start;
        display: flex;
    }
    .badge {
        padding: 6px 0;
        margin: 0;
        overflow-x: hidden;
        transform: translateZ(0);
        border-radius:  2px;
        white-space: nowrap;

    }
    .badge-details {
        // background: $slideColor2;
        transform: translateZ(0);
        margin: 2em 0;
        border-radius: 2px;
        animation-name: scroll;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        transform-origin: right;
        animation-timing-function: linear;

    }
    .track-info {
        font-family: $fontDisplayFlowState;
        width: auto;
        font-size: small;
        color: $textHoverColor;
    }
    .now-playing  {
        font-size: small;
        font-family: $fontDisplayCrozet;
        color: $textHoverColor;
    }
}
.album-art {
    margin: 2px 17px 2px 2px;
    display: inline-block;
    border-radius: 2.3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle drop shadow */
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
  }


@media (min-width: $lgBreakPoint) {
    .spotify-now-playing-widget {
        font-size: 17px;
        .badge {
            max-width: none;
            width: 100%;
            color: black;
        }
        .badge-details{
            //background: transparent;
        }
        .track-info {
            font-size: medium;
        }
        .now-playing  {
            font-size: medium;
        }
    }
}