@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

.write-up-page-wrapper {
    margin-top: 7vh;
    padding: 22px 30px;
    width: 100vw;
}
.write-up-page {
    margin: 5px;
    border: 1px dashed $subtleBlack;
    padding: 66px;
    width: 100%;
    background-color: $defaultBg;
    filter: $contentDropShadowSubtle;
    p {
        margin: 1em $varMarginSm;
        padding: 1em;
        span {
            font-family: $fontMonoGeistBold;
            font-weight: bold;
        }
    }
    a {
        color: $linksColor;
    }
    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    img {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
}

.write-up--iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    flex-direction: column;
}


.write-up-header {
    min-height: 255px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-items: flex-start;
    background-color: $orb-color2;
    padding: 0.88em;

    h1 {
        font-size: $fontSizeXl;
        font-family: $fontMonoGeistLight;
        margin: $varMarginSm auto;
    }
    h2 {
        font-size: larger;
        font-family: $fontMonoGeistLight;
        color: $gridItemBorderNight;
    }
    &--category {
        background-color: $nightBg;
        color: $defaultBg;
        padding: 1.1em 0.88em;
        span {
            font-family: $fontPrimary;
            font-size: $fontSizeDefault;
        }
    }
    &--back {
        font-size: $fontSizeDefault;
        margin: $varMarginSm 0;
        a {
            color: inherit;
        }
    }
}

.write-up-coverimg {
    width: 100%;
    max-height: 500px;
    min-height: 300px;
    display: flex;
    align-items: center;
    margin: 1em 0;
    background-size: 100% 100%;
    background-position: 'center';
    background-repeat: 'no-repeat';
}

.write-up-img {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &--caption {
        font-size: 12px;
        color: $gridItemBorderNight;
        font-style: italic;
        padding-top: 4px;
    }
}

.write-up--footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    a { 
        margin: $varMarginSm;
    }
}

.content-wrapper {
    font-family: $fontNav;
}


@media (min-width: $lgBreakPoint) {
    .write-up-page-wrapper {
        padding: 12px 116px;
    }
    .content-wrapper {
        margin: 0 auto;
        max-width: 66vw;
    }
}