@import '../variables/global.variables.scss'; 
@import '../animations/global.animations.scss'; 

.write-up-page-wrapper {
    margin-top: 7vh;
    padding: 22px 30px;
    width: 100vw;
}
.write-up-page {
    margin: 5px;
    border: 1px dashed $subtleBlack;
    padding: 66px;
    width: 100%;
    background-color: $defaultBg;
    filter: $contentDropShadowSubtle;

    h1 {
        font-size: $fontSizeXl;
        font-family: $fontPrimary;
        margin: 0.4em auto;
    }
    h2 {
        font-size: large;
        font-family: $fontMonoGeistLight;
        color: $gridItemBorderNight;
    }
    p {
        margin: 1em 0.33em;
        padding: 1em;
    }
    img {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
}

.write-up-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: $lgBreakPoint) {
    .write-up-page-wrapper {
        padding: 12px 116px;
    }
}